[2017-10-14 09:05] bltzr commented on #185
this might work as is once #196 and #274 are fixed

[2017-10-14 09:09] bltzr opened #275 "[ossia-Max] ghost nodes"
it was repeatedly reported that some ghost nodes appeared in score when working on a (connected) device

I just tried duplicating a [synth] abstraction (in the synth-example patcher from score/Documentation/Examples/Max) and could notice this from a connected client:

[code]

so I guess that the problem is that the parameters are created, and then are moved under the model node, and probably not p

[2017-10-14 09:16] #102 closed

[2017-10-14 09:16] #268 closed

[2017-10-14 09:19] bltzr opened #276 "[ossia-max] ossia.remote misses the zombie attribute"
so it complains when a bound parameter disappears
```ossia.remote: no attribute zombie```

[2017-10-14 09:22] bltzr commented on #265
if that's the one we reported yesterday, that is actually another problem, aka #275

[2017-10-14 09:22] #265 closed

[2017-10-15 08:46] jln- commented on #263
As of b7, models in poly~ are not created in namespace on patch loading. Steps to reproduce:

- Open patch containing model in poly~ (ie. score/Documentation/Examples/Max/Video/circle_machine/circle-example.maxpat)
- Add device in Score
- Only an empty device 'Circles' is seen
- In Max patcher, delete poly~ then undo
- poly~ model do get created and is exposed in Score

[2017-10-16 12:51] benjfurb commented on #271
Yes better with the log, here it is.

Thanks.

Process:               Live [1398]
Path:                  /Applications/Ableton Live 9 Suite.app/Contents/MacOS/Live
Identifier:            com.ableton.live
Version:               9.7 [2016-09-29_1cc9adc09a] (9.7 [2016-09-29_1cc9adc09a])
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           Live [1398]
User ID:

[2017-10-16 22:03] #273 closed

[2017-10-17 14:50] reno- commented on #252
done

[2017-10-17 14:50] #252 closed

[2017-10-18 20:20] avilleret commented on #252
this is not completely done, wheel are built, but some are not installable
we have to figure out how to produce valid wheel for all platforms
the issue might be in the platform tag

[2017-10-19 05:53] avilleret commented on #276
I also noticed that on Pd. But what is zombie attribute ?
Should it be exposed to the user ? Should  is be settable or read only ?

[2017-10-19 07:51] avilleret opened #277 "[ossia-python] example: shouldn't message queue be flushed on each loop ?"
currently on https://github.com/OSSIA/libossia/blob/master/OSSIA/ossia-python/examples/ossia-python_mq_example.py#L34-L37

we have in the infinite loop :

[code]

thus on each loop we take one message from the queue and process it.
if we have thousand of message in the queue it could take a while to process each.

shouldn't be better to do something like :

[code]

Thus every messages in the cue l

[2017-10-19 08:15] bltzr commented on #276
the zombie attribute indicates that a node isn’t here anymore (because libossia doesn’t remove nodes when they are deleted, in case they are resurrected at some later time)

nope, as the node should disappear

RO

[2017-10-19 12:31] jcelerier commented on #276
that's not the reason. The nodes aren't deleted because for performance reasons, the processes (for instance automation) have pointers on the tree nodes. If a node happened to be removed during execution, there would be a bad pointer which would cause crashes.

[2017-10-19 14:01] bltzr commented on #276
thanks for the precision - at least I didn’t say bullshit on the how, just on the why

[2017-10-20 20:42] avilleret commented on #185
I think this is fixed

[2017-10-20 20:43] avilleret commented on #227
What is missing for closing this ?

[2017-10-21 14:47] bltzr commented on #227
Maybe that we test it ?

[2017-10-21 19:07] reno- opened #278 "[ossia-python] Python Wheels made during CI on macOS have a wrong platform tag"
MacOS Python 2.7
`pyossia-0+untagged.78.g6165a44-py2-none-macosx.whl is not a supported wheel on this platform.`

MacOS Python 3.6
`pyossia-0+untagged.78.g6165a44-py3-none-macosx.whl is not a supported wheel on this platform.`

[2017-10-22 07:54] avilleret commented on #278
What should it be ?
What 's the output of dist.utils.platform() on macosx ?

[2017-10-22 09:13] reno- commented on #278
I tried a fix, currently on travis

[2017-10-22 09:53] reno- commented on #278
linux 2.7 :
[code]
linux 3.4 :
[code]
macOS 2.7 :
[code]
macOS 3.6 :
[code]

[2017-10-22 09:57] reno- commented on #278
[This commit](https://github.com/OSSIA/libossia/commit/3e7026b0c98a785cf9848956a314a6cbb90c6675#diff-bbd89afe3129a7ef5ea7b1fde0fa780f) fix the platform name for python 2.7 on linux and mac, but there is still a problem on linux python 3.4

A side effect is now there is no more the tag and reference of the git commit.

[2017-10-22 13:02] avilleret commented on #278
I strongly suggest that you revert this commit and follow the advice on the commit comment instead :-)

[2017-10-22 13:38] reno- commented on #278
I keep the cross build part as it is. The change is done only for the non-cross builds.
The python 3.4 does not have a regular wheel name, but I will try to fix that later/

The best way seems to use the mechanism provided in the wheel package that format the good name for each wheel. (For non-cross build)

[2017-10-25 13:37] matcham commented on #271
no crash in windows !
(win10 64bits, Max64 and Live9 64 bits)
ossia-max seems to work fine in MFL devices in windows.

[2017-10-25 13:44] matcham opened #279 "[ossia-max] windows only : remote do not bind to parameter when within a model"
On patch load, and only when within a model, a remote receives init value but do not bind to parameter on patch load.
If there is no model in patcher, no problemo.
windows only (win10 64, Max 64), same patcher works as expected on mac.

<pre><code>
----------begin_max5_patcher----------
720.3ocyVErahCCD8bxWgUNSQwNjFXO0y6uvpJjSxrTWEaihcXAU0+80dRRg
RocSBrq1C.ZFF64MO+lw9kvfnb8dvDQ9F4GjffWBCBPWdGAc1AQ

[2017-10-25 13:52] jcelerier commented on #271
thanks @matcham . I really have no idea of why this does not work in M4L... I asked on the Ableton forum to see.

[2017-10-31 07:22] avilleret opened #280 "[ossia-python] ossia-logger support"
I mean something like Pd's and Max [ø.logger] to be able to send log message to a web serveur.

[2017-11-02 16:45] reno- opened #281 "[ossia-python] build a manylinux wheel"
https://github.com/pypa/python-manylinux-demo/

[2017-11-03 10:40] reno- opened #282 "[ossia-max] ossia should be downloaded through the max package-manager"

[2017-11-03 11:50] reno- commented on #278
wheels build with python 3.4 on a travis linux have a "any" platform tag. It should be "linux_x86_64"

[2017-11-03 15:13] bltzr commented on #282
I was waiting to be sure that it was robust enough... but yes

[2017-11-03 17:00] avilleret commented on #278
iirc this was the reason why I setup manual platform tag which was reverted with https://github.com/OSSIA/libossia/commit/3e7026b0c98a785cf9848956a314a6cbb90c6675

[2017-11-14 20:50] avilleret opened #283 "building libossia without MIDI fails"
building libossia without MIDI (`-DOSSIA_PROTOCOL_MIDI:Bool=OFF`) fails with :

[code]

[2017-11-14 21:18] avilleret commented on #283
putting a `#if defined(OSSIA_PROTOCOL_MIDI) in `graph.cpp` reveal some more conflicts in dataflow

[2017-11-14 21:46] #283 closed

[2017-11-15 12:23] jcelerier opened #284 "[ossia-max][ossia-pd] ghost nodes at the root"
[code]

it seems that when some child nodes are created like this :

    [ossia.model blah]
    [ossia.parameter foo/bar]

there is a ghost foo at the root of the tree in addition of the one behind blah, eg the tree looks like

    /blah/foo/bar
    /foo

[2017-11-16 13:19] jcelerier opened #285 "[ossia-max] remotes with absolute address send too many messages"
eg if I have three parameters

    test:/model/foo.1
    test:/model/foo.2
    test:/model/foo.3

and a remote

    test:///foo!

every time a value is sent to test:/model/foo.1, three values come out of the remote.
This works correctly with "normal" addresses, eg `test:/model/foo!` though.

[code]

[2017-11-16 13:29] jcelerier opened #286 "[ossia-max] crash if '/' in view name"
eg

    [ossia.view /]

crashes immediately

[2017-11-16 14:08] #286 closed

[2017-11-16 22:13] avilleret opened #287 "JSON preset loading is broken"
I can save JSON preset, but can't load them afterwards.

It doesn't crash, just say something like "can't modify tree"

[2017-11-17 13:38] jcelerier opened #288 "when moving with flexible intervals, change the flexible duration before the fixed one"
@bltzr please add a screenshot

[2017-11-17 13:40] bltzr commented on #288
<img width="689" alt="capture d ecran 2017-11-17 a 14 39 37" src="https://user-images.githubusercontent.com/113982/32950037-33543aac-cba5-11e7-8fab-05cfbfcafcd2.png">
here you go

[2017-11-17 14:44] jcelerier opened #289 "[ossia-max] allow to set address of ossia.parameter / model / remote / etc. by message"

[2017-11-21 08:39] avilleret opened #290 "speedup cloning by updating only needed submodules with CMake"
For example `CicmWrapper` is quite huge and only needed for `ossia-pd`.
Also `pybind11` is only needed for `ossia-python`.

So I propose to checkout submodules with CMake so we can choose which one is needed for the current build configuration.

`git submodule init` shoud be enough to get submodule list before running CMake.
This could also checkout submodule changes automatically if someone forgo

[2017-11-21 14:33] jcelerier commented on #290
http://s2.quickmeme.com/img/45/45439cd6d55d18f83d442376405d61d076fd70bcef2f56b231e8ec853324fdab.jpg

[2017-11-23 09:29] avilleret commented on #290
http://foonathan.net/blog/2016/07/07/cmake-dependency-handling.html

[2017-11-23 09:31] avilleret commented on #290
we can also automatically download boost if not found

[2017-11-28 22:14] avilleret opened #291 "why `ossia::is_numeric(addr.value)` return false for VECnF ?"
VEC2F, VEC3F, VEC4F are numeric arrays for me, so this is strange
at least it should be a `ossia::is_vecnf()` method somewhere

[2017-11-29 09:07] jcelerier commented on #291
that's certainly a case of lack of documentation :p there is an is_array somewhere that does this (value.cpp:602)

[2017-11-29 09:17] avilleret commented on #291
I saw that but isn't a tuple an array too ?
and a tuple could have non numeric value
and it could be dangerous to my mind to consider a tuple numeric at instant t because it contains only numeric value, because at t+1 it could have non-numeric (yep that's weird, but you know, people are doing strange things :-))

[2017-11-29 09:45] jcelerier commented on #291
mhh... depends if you use the C++ definition, the LISP definition, the "theoretical computer science" definition... :p certainly this could be renamed to be clearer.

[2017-12-04 08:56] bltzr opened #292 "release libossia 1.0"

[2017-12-04 08:57] bltzr opened #293 "package ossia-Max"
faire le package, le mettre en ligne sur le repo du package manager de Max

[2017-12-04 09:00] bltzr opened #294 "annoncer ossia-max + score"
- [] liste Max
- [] liste Jamoma (avec mot personnalisé)
-> autres ???

[2017-12-04 09:02] bltzr opened #295 "annoncer ossia-pd (à nouveau) ?"
-[] liste pd
autre(s) ?

[2017-12-04 09:03] bltzr opened #296 "annoncer ofxOSSIA"
-[] forum of
autres ?

[2017-12-04 09:03] bltzr opened #297 "réparer ofxOSSIA"

[2017-12-04 09:05] bltzr opened #298 "annoncer ossia-SC"
-[] liste SC
-[] FB SC ?
autres ?

[2017-12-04 09:11] bltzr opened #299 "annoncer ossia-python ?"
où ça ?

[2017-12-04 09:12] bltzr opened #300 "finalisation ossia-python ?"
est-ce que c'est tout bon ?
les wheels, tout ça ?
est-ce qu'il ne faut pas mettre un mot sur comment installer/télécharger le "package" sur https://ossia.github.io/?python#introduction

[2017-12-04 09:13] bltzr opened #301 "annoncer ossia-Unity ?"
où ça ?

[2017-12-04 09:14] bltzr opened #302 "annonces générales"
- libossia (toutes implémentations confondues)
+ score

->
FB + twitter OSSIA
-> autres listes ?
- [] CMM
- [] rvid (avec annonce workshop ?)

[2017-12-04 09:17] bltzr opened #303 "textes de présentation génériques"
- libossia
- score
contexte du projet

-[] FR
-[] EN

[2017-12-04 09:38] jln- commented on #294
- group Max sur Facebook

[2017-12-04 09:40] bltzr commented on #297
any help needed from @jcelerier or can you manage it yourself, @pach ?

[2017-12-04 10:14] avilleret commented on #297
since we have a safe C++ interface, it could be at least worth to refactor the code to use it and simplify things

[2017-12-04 10:32] bltzr commented on #287
does that require @jcelerier 's input ?

[2017-12-04 10:40] avilleret commented on #287
I asked him several times in the hope he will fix it silently but nothing for now :-)
so I may dig into it this week, but, wow there are still lots of things to do !
but I think this one should be on top of TODO list.

[2017-12-04 11:28] jcelerier commented on #287
heh, yeah, sorry I tried to look into it multiple times indeed but didn't find the problem yet :(

[2017-12-04 12:34] avilleret commented on #287
could you at least reproduce the error ?

[2017-12-05 08:21] avilleret commented on #300
tout n'est pas bon les wheel manylinux ne build pas et on n'aura pas le temps de régler ça avant le 15.12
les autres were known to work but there is nothing at https://pypi.org/project/pyossia/
so this definitely needs more work

[2017-12-05 08:21] avilleret commented on #295
bah oui ça me parait essentiel de relancer
sur tout avec Score

[2017-12-05 10:22] avilleret opened #304 "[ossia-pd] macos deken package lacks a ossia.pd_darwin"

[2017-12-05 10:48] avilleret commented on #304
and so does the package in the release page : https://github.com/OSSIA/libossia/releases/download/1.0.0-b10/ossia-pd-osx.tar.gz

[2017-12-05 11:06] avilleret opened #305 "[ossia-pd] [ossia-max] commit SHA doesn't appear on Travis build"

[2017-12-05 11:40] avilleret commented on #304
cf https://travis-ci.org/OSSIA/libossia/jobs/296710619#L2000

[2017-12-05 11:53] jln- opened #306 "[ossia-max] ossia.attribute cant be instanciated"
As title says, trying to create an ossia.attribute object results in a bogus object

[2017-12-05 11:53] jln- opened #307 "[ossia-max] ossia.attribute has no maxhelp nor maxref"

[2017-12-05 14:25] jcelerier commented on #297
+1 for using the safe interface, this way there is no problem with any dependencies of boost or stuff like this... just use the ossia-cpp98.hpp header and be done with it

[2017-12-05 14:55] avilleret commented on #217
this should be fixed with [address( method I guess, @bltzr  @jln- could you confirm ?

[2017-12-05 15:23] bltzr commented on #217
well, this is apparently not working currently: we can change the address attribute, but it does nothing at all
![addddddress](https://user-images.githubusercontent.com/113982/33614775-8e4feff0-d9d8-11e7-9cc2-eba68eac3ba6.gif)

also, this needs to be ported to Max

[2017-12-05 15:58] avilleret commented on #304
so macos build fails due to OSSIA_CI option

[2017-12-05 20:29] avilleret commented on #289
this should be addressed by the brand new `address` method in Pd

see https://github.com/OSSIA/libossia/commit/412b550e816562ea1a74ebd20b800298d6c4e7de

[2017-12-05 20:31] avilleret commented on #217
this is done for Pd with https://github.com/OSSIA/libossia/commit/079b71e41d66c078130ffb2d7855548581366d1c and ee083d6fff7b4d08ab62e130a2d667b42b875edd

[2017-12-06 09:17] avilleret commented on #304
should be fixed with e11732b56d3307c079d5e1761e40df17525fadb5

[2017-12-06 09:19] avilleret commented on #293
pour "faire le package" Travis s'en charge, ça doit être bon maintenant, faut juste attendre une release

[2017-12-06 09:22] avilleret commented on #290
fixed with c83c418735ba8db4d2a1446372f62f513b06a700

[2017-12-06 09:22] #290 closed

[2017-12-06 09:25] avilleret commented on #285
what's the expected behavior here ?

[2017-12-06 09:28] avilleret commented on #293
duplicate https://github.com/OSSIA/libossia/issues/282

[2017-12-06 09:28] #293 closed

[2017-12-06 09:28] bltzr commented on #285
output it only once, I'd say

[2017-12-06 09:36] avilleret commented on #284
related to https://github.com/OSSIA/libossia/issues/275 ?

[2017-12-06 09:40] avilleret commented on #306
related to https://github.com/OSSIA/libossia/issues/227

[2017-12-06 09:41] avilleret commented on #271
maybe because Live run under Wine ?

[2017-12-06 09:44] avilleret commented on #269
could you @jln- please specify this a little bit more ?
you mean a new method for `[ossia]` object that returns all namespaces that live in the current Max instance ?

[2017-12-06 09:44] avilleret commented on #267
related to https://github.com/OSSIA/libossia/issues/287

[2017-12-06 09:47] avilleret commented on #234
related to https://github.com/OSSIA/libossia/issues/287

[2017-12-06 10:19] nvuaille commented on #290
FYI, I just discovered git options that can be usefull in this case : https://git-scm.com/docs/git-clone#git-clone---depthltdepthgt and https://git-scm.com/docs/git-clone#git-clone---no-shallow-submodules .

The idea is to download only last X commits instead of full history

[2017-12-06 10:25] bltzr commented on #285
this only happens when using wildcards on instances AND global addresses, so I wouldn't mark this as release-critical
tests:
<pre><code>
----------begin_max5_patcher----------
1349.3oc6Y88bahCD9Y7eEt73MwIHIvX5aosYtIyj4xLo4ZdnyMdjsUbTOrf
ADIoWm9+9oe.XvFrwF6Xm17PHiWIg18a+zxtq9QGCyQAOShM699tesqgwO5X
XnDIEXj9aCyY3mG6iiUSyjQdJXz2LOQODm7LWINLhx3c+yqt9CmeUuat95ay
lQHlO9AJa5vHxXtdi7PmZcRWnkk7e.ns5WvSs59Oo

[2017-12-06 10:29] bltzr commented on #284
yes, that's the same one, apparently, so I'm closing #275 and adding my comment from there below:

it was repeatedly reported that some ghost nodes appeared in score when working on a (connected) device

I just tried duplicating a [synth] abstraction (in the synth-example patcher from score/Documentation/Examples/Max) and could notice this from a connected client:

print: parameter create synth:/m

[2017-12-06 10:29] #275 closed

[2017-12-06 10:31] bltzr commented on #267
is it related or does it duplicate #287 ?

[2017-12-06 10:39] bltzr commented on #263
that looks like an initialization order problem between the device and models, because if you create the poly~ first (by sending it to the back before saving, for instance) then it works correctly

is that a hard one to fix, @avilleret ?

[2017-12-06 10:39] bltzr commented on #263
also I DO think this is quite release-critical

[2017-12-06 10:46] bltzr commented on #223
actually this is the same problem than #263 - which is unrelated to poly~ but due to the creation order: bound objects need to be created AFTER the upper node they bind to - this is a critical problem as it can break a lot of patchers

[2017-12-06 10:46] bltzr commented on #263
duplicates #223

[2017-12-06 10:50] bltzr commented on #223
so I'm closing #263

[2017-12-06 10:50] bltzr commented on #223
this seems to be a problem for models and views, not for devices, if that helps

[2017-12-06 10:55] bltzr commented on #217
changing the name so we just need to port it to Max now

[2017-12-06 10:56] bltzr commented on #217
so, this is done with (select theAddress) now, right ?

[2017-12-06 11:02] bltzr commented on #193
this is probably related to #223

[2017-12-06 11:08] bltzr commented on #193
I've tried this several times, and that failed a couple times in the beginning, and now it works every damn time I try - so this is a little bit surreal

[2017-12-06 11:31] bltzr commented on #185
this doesn't seem to be working (from ø.client's help patcher)

[2017-12-06 14:28] jln- commented on #269
Not sure this was a request of mine. But as I understand it, yes, that would be a way to get all devices in the current Max instance.

Isn't something we could get with a 'namespace + pattern-matching' request ?

[2017-12-06 14:59] aklevy opened #308 "[ossia-qt] Add filter to logger"

[2017-12-06 16:59] avilleret commented on #136
this is not working on Max as reported by @jln-

[2017-12-06 20:25] #217 closed

[2017-12-06 20:25] #289 closed

[2017-12-06 22:14] avilleret commented on #219
can't reproduce in Pd with both pathers in the same instance.

[2017-12-06 23:16] avilleret commented on #219
can't reproduce with Pd and 2 different Pd instances with steps from the first post

[2017-12-07 08:45] avilleret opened #309 "[ossia-pd] remote with `!` in its name not registered correctly"
Open the attached patcher,
- test if it works correclty
- if so, delete everything but the `[ossia.model model_instance]` in the main patcher
- then undo

it doesn't work anymore, but it should.
Since it works again after saving/reloading the patch this is not a release critical issue.

[model_instances2.zip](https://github.com/OSSIA/libossia/files/1538349/model_instances2.zip)

[2017-12-07 09:55] avilleret commented on #269
currently no, but we could think about it

this will look like a search tool then, `[namespace *:///foo(` will return all node which name end with `foo` in all devices, for example ?

[2017-12-07 11:57] #227 closed

[2017-12-07 12:10] bltzr opened #310 "[ossia-max] speed up select method"
by testing if it uses pattern-matching

testable by replacing ossia.remote_array by ossia.remote_array_select (from the tests folder) in ossia.remote_array.maxhelp

[2017-12-07 13:38] bltzr opened #311 "[ossia-max] make the address method thread-safe"
reproduceable by replacing ossia.remote_array by ossia.remote_array_address (from the tests folder) in ossia.remote_array.maxhelp and clicking on the multislider

[2017-12-07 14:18] bltzr commented on #219
let's forget about this for now, then...  wasn't that some general problem in libossia ? (also in python) - maybe @jcelerier silently fixed that ?

[2017-12-07 14:22] bltzr opened #312 "[ossia-max] \@default is broken"
just open  ossia.model.maxhelp and you should notice it

[2017-12-07 15:47] bltzr opened #313 "[ossia-Max] default is broken"
just open ossia.model.maxhelp

[2017-12-07 19:56] jcelerier commented on #219
I think it was a fix from @pchdev related to websocket closing actually!

[2017-12-07 20:01] jln- opened #315 "[ossia-max] ossia.atttribute crash when sending anything in its inlet..."
Open current ossia.attribute maxhelp, click 'get clip' message: kaboom! Max crashes.

Process:               Max [8756]
Path:                  /Applications/Max betas/Max735.app/Contents/MacOS/Max
Identifier:            com.cycling74.Max
Version:               7.3.5 [d422500] (7.3.5)
Code Type:             X86 (Native)
Parent Process:        ??? [1]
Responsible:           Max [8756]
User ID:

[2017-12-07 20:15] jln- opened #316 "[ossia-max] ossia.device maxhelp crash on opening"
I get an instant Max crash when trying to open ossia.device maxhelp from the Finder. Go to Finder, double-click device maxhelp: Max crash (log below).

This may not happen everytime I try although I hardly can reproduce how I manage to open it...
[code]

[2017-12-07 20:18] avilleret commented on #313
duplicate #312

[2017-12-07 20:18] #313 closed

[2017-12-07 20:21] bltzr opened #317 "[ossia-Max] (at)rate buffers values in ossia.remote"
as demonstrated in the patcher below, when \@rate is set at a smaller rate than that which values are fed, ossia.remote will buffer values and output them all at once every \@rate ms
I don't think that's how this is supposed to work (it should output values just once every \@rate ms)

<pre><code>
----------begin_max5_patcher----------
615.3ocsVEraiBCD8L7Uf3LajMwXB6odt+BqVE4P7RbEXiLltopp+6q8XHMI
Jg

[2017-12-07 20:27] bltzr commented on #315
not everything crashes: e.g. description, range... don't crash - but they don't do anything either...

[2017-12-07 20:53] bltzr opened #318 "[ossia-pd] some attributes don't work as arguments"
some attributes don't work when set as arguments of ossia.param :
e.g. clip, unit, range, default, mode and description have to be set by messages,
while type and enable do work

also [get description(, [get tags( and [get priority( don't do anything

[attributes.pd.zip](https://github.com/OSSIA/libossia/files/1540547/attributes.pd.zip)

[2017-12-07 22:54] avilleret commented on #318
thanks for the detailed report

[2017-12-07 22:59] avilleret commented on #219
@jln- or @bltzr could you please reproduce the step in the first message and confirm or not that it is working ? so we can close the issue

[2017-12-07 23:05] avilleret opened #319 "refcator traversal::match to take device name into account if needed"

[2017-12-07 23:05] #309 closed

[2017-12-08 09:03] avilleret commented on #223
so this one involved several bug that takes me long to track down, hopefully it should be fixed in the next commit

[2017-12-08 09:04] #223 closed

[2017-12-08 09:05] avilleret commented on #263
@bltzr  @jln- oculd you please test this one against https://github.com/OSSIA/libossia/commit/ed30fdcab9e66c900ec8dccf4cda970e3a671cc5 ?

[2017-12-08 09:26] bltzr commented on #263
I'm sorry, but that still doesn't work

when bringing the poly~ to the front and reopening circle-example.maxpat, the namespace is empty
when saved after being sent to the back, it works

[2017-12-08 09:37] bltzr commented on #223
that seems to be OK, I'll reopen it if I see it happening again

[2017-12-08 09:50] bltzr commented on #219
seems to be OK

[2017-12-08 09:50] #219 closed

[2017-12-08 10:31] jcelerier commented on #271
I think that it was true only up to Live 8. Since Live 9 it seems like this is a true macos app (at least when inspecting the binary it seems so :p).

[2017-12-08 11:37] #234 closed

[2017-12-08 11:39] #287 closed

[2017-12-08 11:59] avilleret commented on #312
FYI default wasn't broken itself but attribute setting was broken due to a line swap
so this one is fix, and some other related too

[2017-12-08 11:59] avilleret commented on #318
related t https://github.com/OSSIA/libossia/issues/312

[2017-12-08 11:59] #318 closed

[2017-12-08 12:00] avilleret commented on #305
it should be fixed, have to wait for a release to see if it's working

[2017-12-08 12:08] avilleret commented on #317
this is the expected behavior, at least this is how it was specified

[2017-12-08 12:11] avilleret commented on #317
just for the record, `@rate` attribute defined the period of polling interval
in between everything that comes is kept into a queue
and the queue is flushed when polling
keeping everything in the queue garantee that you'll not miss anything (as opposed to a drop behavior, that some other OSC implementation might have).
if this is a problem, there might be a design issue with your patch :-)

[2017-12-08 12:14] avilleret commented on #316
I can't reproduce it with f3b8ec3c859d42338190f9936d37eb9644a0af1e

[2017-12-08 14:13] avilleret commented on #284
I think those ghost are there because when removing a [ø.param] we only delete the end node that hold the parameter.
To avoid ghost we should take care of asking if parent has some more children when deleting, if not, then ask all other objects if one still need it.

[2017-12-08 14:13] avilleret commented on #284
Pd should be affected too

[2017-12-08 14:34] avilleret commented on #284
I confirm Pd is affected too

[2017-12-08 14:58] #284 closed

[2017-12-08 18:46] bltzr commented on #316
I can't either

[2017-12-08 20:00] avilleret commented on #315
@bltzr I noticed some issue with attribute in Pd and Max, I"m on it

[2017-12-08 20:40] avilleret commented on #315
fix with https://github.com/OSSIA/libossia/commit/7fadb63136af5ea8e9c714186e4dfc871d49eb14

[2017-12-08 20:40] #315 closed

[2017-12-08 20:49] avilleret commented on #310
@bltzr could you please provide the main patch that uses the abstraction you've commited on https://github.com/OSSIA/libossia/commit/fa8b14bb5bcc04ebe5af8b9e1d6dd6d2c4c667eb ?
thanks
(at least here as a copy compressed)

[2017-12-09 09:00] #305 closed

[2017-12-09 09:01] #304 closed

[2017-12-09 09:46] avilleret opened #320 "[ossia-unity3d] linux build archive contains build directory content"

[2017-12-09 09:50] avilleret commented on #320
1.0.0-b7 has directory structure that follow Unity3d plugin, but lacks some files
b99 and b10 are the same as b11 : only build directory

[2017-12-09 13:49] bltzr commented on #317
who specified things this way ? (wasn't me...)
IMHO that's a quite strange way to do it, but why not, this is not very critical...

[2017-12-09 13:55] bltzr commented on #310
oh, sorry, I forgot to change one object in the patcher - it is now committed and here is the patcher:

<pre><code>
----------begin_max5_patcher----------
653.3oc6VssiaBCD8Y3qHhmoHrgvk9IzegpJjC3l0q.6HiYaRix+dGeABjtM
Jaa1VUo7PHLiG6wmim4XN56ErQrm1Gr5iq97JOui9ddFWZGdNaufNx95VRuI
rftgVEquk0PkAg1w4CchAUKUYh.67tiHIcTEUVQ4jMsT8XwtwpEbUCQQz9PN
e8v7UGrwM4azQvXtrIRcXG0togAfeq9x3DXe2t.Ym2aL93VCMs0T0Ow3aqjz
Z

[2017-12-09 13:57] jln- commented on #317
Seems a bit strange to me as well.

As a side note, "rate" is also a bit misleading, I think (with such a name I'd expect a frequency value rather than an interval).

[2017-12-09 13:59] bltzr commented on #317
absolutely makes sense - how would you change that ?
by specifying (at)rate in Hz ?
or changing its name? (at)interval (at)poll ? (not convinced about any of both)

[2017-12-09 14:34] jln- commented on #317
I think I'd favor (at)rate in Hz but just my opinion - not sure there is an absolute use case for this.

Otherwise, after a quick look at Max objects, it seems (at)interval is used here and there. (at)refresh could be a candidate as well.

If we are to change (at)rate in hz, maybe that would be better to do this before the release, since it'd break quite some things in old patches

[2017-12-09 14:57] bltzr commented on #317
for me using ms sounds more « natural » than hz for this kind of things

why not (at)refresh… but really that doesn’t bother me so much that it’s called rate and uses ms

also, all other libossia implementations use ```rate``` for this, so maybe we should favor general consistency ??
https://ossia.github.io/?plaintext--max#refresh-rate
at least, if we keep it this way, we should specify it’s in ms

[2017-12-09 16:07] avilleret commented on #317
i'm pretty sure the name was discussed on Gitter between @jln- and @bltzr during a full-of-meme afternoon, but if you want to discuss a bit more, please let me know your choice (but don't revert it 2 week after :-) ).
Concerning the queuing behavior, this is needed for Pd and Max : to avoid crash, new value can be outputed only on scheduler tick.
And at the beginning there was only one queue for a

[2017-12-09 16:22] bltzr commented on #317
about the name: I don't really care, but if you want to change it, @jln- please go ahead

I agree on the queuing behavior, to make it safe

but I don't see one situation where we want the n last values of one parameter to be output at once - I'd only keep the last one, but I might be overseeing things...

[2017-12-09 16:46] jln- commented on #193
Same here. I've been trying to narrow it down for an hour and now I cant make it bug. Definitively something weird somewhere... *head scratching*

Probably a stupid question, but doesn't hurt asking: could it be related to the order ossia.device and ossia.model are created/saved in patcher ??

In the patch below, the view did not bind to the model. Then I tried once removing the top ossia.device:

[2017-12-09 16:53] bltzr commented on #193
that’s not a stupid question: that’s exactly what I noticed previously
I could make a patcher break or work by sending ossia.device to the back or to the front (which conditions the loading order)

but with this patcher, I can’t succeed to break it - which is maybe a signe that @avilleret fixed it ..???

[2017-12-09 16:54] bltzr commented on #193
should we close this, then ?

I'd say: yes

[2017-12-09 16:56] jln- commented on #193
I dont think it should be close. I had this very problem during the last hour.

[2017-12-09 17:02] bltzr commented on #193
ah OK, then yes, let's leave it open - I understood you couldn't reproduce it...

[2017-12-09 17:23] jln- opened #321 "[ossia-max] clip attribute bug: parameter received an invalid data error message at loading"
In the patch below, parameter having a clip attribute defined as arg (gain, pan and modulation/index) throw a '*parameter name* received an invalid data' at loading. When removing their clip attribute value defined as arg to the object, I dont get the error message.

If I delete ossia.device, then save and reload patcher, error message is gone.

<pre><code>
----------begin_max5_patcher----------
8

[2017-12-09 18:18] jln- commented on #321
For further information:

In the patch above, if I open synth model in modify read only, delete the 3 mentioned parameters (gain, pan and modulation/index) then undo, the binding is correctly done and error message is gone.

[2017-12-09 20:56] avilleret commented on #317
if you want to detect drop or return-to-zero behavior, then you need all values.
one simple example : a sustain pedal that trigs a sample,
it the pedal is pressed and released between 2 poll, then you'll miss the press state, which is bad I think

So I do think its safe to keep it like that.
In most case, your patch would run faster than your input source, so most of the time there will be only on

[2017-12-10 14:38] jln- opened #322 "[ossia-max] Max crashes on ossia.maxhelp closing"
As title says: open ossia.maxhelp, close patch. Max crashes.

---
Process:               Max [36709]
Path:                  /Applications/Max betas/Max735.app/Contents/MacOS/Max
Identifier:            com.cycling74.Max
Version:               7.3.5 [d422500] (7.3.5)
Code Type:             X86 (Native)
Parent Process:        ??? [1]
Responsible:           Max [36709]
User ID:               501

Date

[2017-12-10 14:42] jln- opened #323 "[ossia-max] ossia.maxhelp needs some work"
maxhelp would need to be rework so it is useful. As of now, it contains various information (messages etc.) but would need to be more focused on use case

[2017-12-10 20:05] avilleret commented on #256
now user can choose KISS format by adding `.txt` extension to filename, otherwise the file is in JSON format.
Both PD and Max have been updated

[2017-12-10 20:05] #256 closed

[2017-12-10 21:16] avilleret opened #325 "[cmake] don't put Boost into parent directory"
put it in Binary directory or libossia directory (and eventually 3rdparty)

[2017-12-10 21:17] avilleret opened #326 "[cmake] pure-data windows binary is download on each cmake call"
cache the download in a variable or check if folder exists before downloading

[2017-12-10 21:37] avilleret opened #327 "windows build is broken"
this is due to lazy `#define` in `wingdi.h`
solution : add `NOGDI` preproc option on Windows

[2017-12-10 21:49] jln- commented on #317
Well, your use case make sense but in practice, if a need something time critical plugged to a remote, I guess I'd just not set a slow rate to avoid problem you mention (and cook my filtering stuff and threshold in patch).

Maybe it's just me but the first common use coming to mind would be to set remote with a slow rate not to refresh too often gui or something so I'd definitively wont want to de

[2017-12-11 07:59] avilleret commented on #317
the thing is that o.remote share the same queue behavior than o.parameter and this cue does definitely make sense for parameter. So i'll keep it. But I'll add one more attribute to control queue length. Default to 1 for remote.

Concerning the name, if you prefer `refresh` instead of `rate` as a shortcut for `refresh rate`, that's your point, but I'm in favor of consistency accross implementation

[2017-12-11 08:16] avilleret commented on #326
fixed with https://github.com/OSSIA/libossia/commit/e93bfa44bcf0bbfc1ff54f5075f302b4aea7b471

[2017-12-11 08:16] #326 closed

[2017-12-11 08:24] bltzr commented on #317
great, thanks !

I guess the point is that ```refresh``` is rather a shortcut for ```refresh interval```

As I said, I can live with ```rate``` and most of the work of changing this happens in the patcher and ref pages - so if you want to take care of this there, I can do the change in the code, @jln-

so, you have the last word, @jln- … tell us what it is

[2017-12-11 08:40] bltzr commented on #288
shouldn't this be a score issue ?

[2017-12-11 09:52] bltzr commented on #288
this is now: https://github.com/OSSIA/score/issues/698

[2017-12-11 09:52] #288 closed

[2017-12-11 09:57] bltzr commented on #135
so, to sum it up:
- [reset( seems to be working well ATM
- it could be nice that it worked also on models and devices, and propagated downwards, to lower-level submodels and nodes
- this is not critical nor urgent, so we'll postpone this to a later time

[2017-12-11 10:31] bltzr opened #328 "[ossia-Max] crash when ossia.parameter is created after its bound ossia.attribute"
this can be easily reproduced by changing the value of an attribute in one of ossia.attribute.maxhelp's [ossia.parameter] objects, then asking to its bound ossia.attribute to change or get the attribute value -> should crash

[2017-12-11 10:33] bltzr commented on #328
the gist of it: https://gist.github.com/bltzr/98551a54cf1f039174b9df901739a320

[2017-12-11 10:58] bltzr commented on #267
this is only happening with the .txt format

[2017-12-11 11:01] bltzr commented on #255
situation as of now:
- .txt saves with model (or device name), but doesn't want the model (or device name) when recalling (i.e. when removing the model/device name, presets are correctly recalled)
- .json saves with model (or device name) and correctly recalls them

ideally, none of them should include the model/device node name, so they can be used as presets in other instances of the same patche

[2017-12-11 11:03] bltzr commented on #315
this is actually #328

[2017-12-11 11:08] bltzr commented on #267
now, only the bool parameter seems to be lost, AFAICT

[2017-12-11 11:11] avilleret commented on #321
here is the simplest patcher that trig the error :

[code]

[2017-12-11 11:29] bltzr commented on #255
addendum: .txt doesn't include the device's name when saved with ossia.device (so it works)

so, to sum it up:

- remove the "root" name for [ossia.model], [ossia.device] and [ossia] objects when saving and loading presets in the JSON format (even if that currently works this way, but that prevents presets to be "portable" across different instances of the same patcher)

- remove the "root" name f

[2017-12-11 11:34] bltzr commented on #316
actually I had this a couple of times this morning - typically this was the "workflow" (or should I say the bugflow ?)

![crash](https://user-images.githubusercontent.com/113982/33829184-8a96f9da-de6f-11e7-8a83-a048b46b8bd3.gif)

sometimes it crashes, sometimes it doesn't, I couldn't detect a pattern

[2017-12-11 11:34] bltzr commented on #322
same as #316 that doesn't happen consistenly, just once in a while...

[2017-12-11 11:40] bltzr commented on #321
yep, and this very much looks like what's happening with this: [ossia.parameter bar @type string @default aa @range bb cc dd @clip both]

maybe a quick workaround could be to do #181 ?
so we could kill two birds with one stone...

[2017-12-11 12:24] avilleret commented on #327
fixed with https://github.com/OSSIA/libossia/commit/0ea08ccfddc490c6bbc38fc0ab34249e22efa28d and https://github.com/OSSIA/libossia/commit/454c7d80c8d784c56992412859d11001ec7ba238

[2017-12-11 12:24] #327 closed

[2017-12-11 13:51] bltzr commented on #316
I also have this crash quite consistently (but not absolutely all the time) when opening the Overview (from the extras folder), which might help you to find the problem @avilleret

NB : it contains 2 ossia.device objects in 2 subpacthes of the main patch, maybe that helps...

as this is the first patcher people are going to open, it could be nice that id doesn't crash :-p

[2017-12-11 13:53] bltzr commented on #321
I also have a lot of those errors when adding the remote below to the second tab (Namespace exploration) of the overview, and playing with the gain value

maybe that can help finding where the problem lays...

<pre><code>
----------begin_max5_patcher----------
428.3ociSFkaBCCCF941SQTdtqKsPAocD1U.MgBESISsInDWFHD28k5jtALl
TenTk+XW+4eatjlv2XNANN6M1JVRxkzjDRZPHIdNg2IOU2JcTX7csFceGOKb
kCO2Bj9nh+RSO1BHE

[2017-12-11 15:06] avilleret opened #329 "[ossia-pd] improve ossia.attribute help"

[2017-12-11 15:08] avilleret commented on #79
instead of ?
is this issue still relevant @jcelerier ?

[2017-12-11 15:16] #110 closed

[2017-12-11 15:20] avilleret commented on #122
@bltzr is this still relevant ?

[2017-12-11 15:30] bltzr commented on #122
more than ever: I can't even open the attached patcher, it directly crashes !!!

[2017-12-11 15:45] #329 closed

[2017-12-11 15:50] avilleret commented on #128
@bltzr could you confirm this is still there ?

[2017-12-11 15:52] avilleret commented on #130
@bltzr could you test ? and if the issue is still relevant could you provide a patcher snippet to check it ? thanks

[2017-12-11 15:54] bltzr commented on #108
it works in pd

in Max there are several problems:
- (get protocols) always return "protocols 0"
- (stop) doesn't do anyhting (which sounds sensible, because it shouldn't
- (stop 0) crashes, which is understandable because of  point 1

[2017-12-11 15:55] avilleret commented on #136
but this should have been fixed (the first part, conversion for remote with unit)

[2017-12-11 15:55] bltzr commented on #108
crash log:
https://gist.github.com/bltzr/c20eece598482608620855772cd2b33a

[2017-12-11 15:57] bltzr commented on #136
yes the first part is working, the second will come later, so I'm removing the release critical label

[2017-12-11 16:00] avilleret commented on #137
could be related to #321

[2017-12-11 17:14] #137 closed

[2017-12-11 17:14] #321 closed

[2017-12-11 17:14] #322 closed

[2017-12-11 17:15] avilleret opened #330 "[ossia-max/pd] document [get protocols( and [stop( message"
once https://github.com/OSSIA/libossia/issues/108 will be fixed

[2017-12-11 17:30] bltzr commented on #321
kudos @avilleret !!

[2017-12-11 18:12] avilleret commented on #267
by me, KISS preset doesn't work at all tonight

[2017-12-11 18:16] avilleret commented on #316
note to myself : max_object_register() returns invalid pointer array

[2017-12-11 18:37] jcelerier commented on #79
hmmm yeah, I sometimes had the need to send a message without notifying locally (eg to prevent loops when sending between two clients, without having to do stuff like `if(valueChanged) applyTheValue`. But maybe a better API should be devised...

[2017-12-11 21:02] avilleret opened #331 "[ossia-pd] [ossia-max] KISS preset are reacall at all"
preset are write correctly but are recalled without any error nor change in parameter value...

[2017-12-11 21:31] avilleret commented on #171
iirc this have been fix a while ago

[2017-12-12 09:32] bltzr commented on #171
Yep, I just tested and that is fixed indeed

[2017-12-12 09:32] #171 closed

[2017-12-12 09:38] avilleret commented on #328
I can't reproduce with b9e2286a7930b5c50190d1cd5fa25fe9e197e3c5
@bltzr could you confirm this is still happening ?
if yes, which version of Max are you using ? 32 or 64 bit ?

[2017-12-12 09:42] avilleret commented on #328
sorry @bltzr the configuration details are already in the gist you posted 23h ago...
my bad

[2017-12-12 09:43] avilleret commented on #267
so this morning, kiss is back
and kiss on bool have been fixed

[2017-12-12 09:48] #267 closed

[2017-12-12 10:04] avilleret commented on #331
it works fine this morning...

[2017-12-12 10:05] avilleret commented on #316
I can't reproduce it this morning...

[2017-12-12 10:08] avilleret commented on #316
there is certainly a bug somewhere but we need to track it
@jln- and/or @bltzr could you provide a minimal patcher that trig this crash ?

[2017-12-12 10:15] avilleret commented on #330
fixed with https://github.com/OSSIA/libossia/commit/15c21b3bbbecdac1c5422d34446ed67de0504977

[2017-12-12 10:15] #330 closed

[2017-12-12 10:22] avilleret commented on #316
got it once this morning, will try to reproduce

[2017-12-12 10:39] avilleret opened #332 "[ossia-max] [ossia-pd] add [get ...( method to o.model/view"

[2017-12-12 11:55] bltzr commented on #328
so, could you make it crash ?

[2017-12-12 11:58] bltzr commented on #316
I'll try to make a minimal patcher, in the meantime the Overview from the extras crashes quite consistently

[2017-12-12 12:07] bltzr commented on #255
update: now, .txt format works, but it still prepends the model name, which we should avoid if possible
still the same for JSON

[2017-12-12 12:10] bltzr commented on #108
this seems to work, and is now documented both in max and pd, so I'm closing the issue - tell me if I oversaw something

[2017-12-12 12:22] bltzr opened #333 "[ossia-Max] min and max attributes don'break the clipping mechanism"
as demonstrated in the patcher below (notice that this works with vecnf's)

this also happens in pd

<pre><code>
----------begin_max5_patcher----------
735.3ocyV0zaiCBD8bxuBDZO5ZY7WIdO0yq1S60UqhH1jD5ZCV.tMcq5+8c.
rSbRZRSZuTIjCCLyv7dLyPdY5D7R4VlFi9N52nISdY5jItkrKLoWdBtgtsrl
pcpgaXZMcMCG32yv1Z7qyEnnPzcjPTbHLK.Alg.I6.1HKbvjZtfUJ6DN6h6W
rkZJ2vEqWnXkFe7jjlDFEfJJByB.WPrBIYgQn+zaCuxcxxkObWZ1f2kclZlw
7bKy

[2017-12-12 12:24] bltzr commented on #130
this now works in Max

it also works in pd, but by default a [0 1] range is set, and it overrides the min and max values that are put as arguments (see ossia.param-help)

should I close the issue, or  do you want to have a look at that first ?

[2017-12-12 12:25] bltzr commented on #130
[test-minMax.pd.zip](https://github.com/OSSIA/libossia/files/1551531/test-minMax.pd.zip)

I undocumented this(removed the min max attributes as arguments) since it doesn't work
and here comes the buggy versoin

[2017-12-12 17:39] bltzr commented on #128
No I can't because I don't know how to reproduce the problem, the author didn't document the steps for that - so I'm closing the issue
(and from the tests I've done, it seems to be OK)

[2017-12-12 17:39] #128 closed

[2017-12-12 18:22] bltzr commented on #125
works for Max now, too

[2017-12-12 18:22] #125 closed

[2017-12-12 18:22] #108 closed

[2017-12-12 18:27] bltzr commented on #316
[model+view-Crash.maxpat.zip](https://github.com/OSSIA/libossia/files/1552810/model.view-Crash.maxpat.zip)

simplest way to crash Max with this

[2017-12-12 18:31] bltzr commented on #122
simplest way to crash Max with this

[model+view-Crash.maxpat.zip](https://github.com/OSSIA/libossia/files/1552823/model.view-Crash.maxpat.zip)

[2017-12-12 18:31] bltzr commented on #316
just committed a few test patches for this one

[2017-12-14 16:47] #263 closed

[2017-12-15 19:33] avilleret commented on #328
definitely no, could you ?

[2017-12-15 19:41] bltzr commented on #328
yes, I just changed the range to 1. 2. in the parameter (which rebuilt it), pushed (get range) and: kaboom!

[2017-12-15 21:42] #316 closed

[2017-12-15 21:43] bltzr commented on #316
champagne ?

[2017-12-15 21:56] jln- commented on #316
🍾

[2017-12-15 22:44] avilleret opened #334 "[ossia-max] sometimes remote with pattern matching are not registered correctly"
see https://github.com/OSSIA/libossia/commit/e07d9450941ecec9ca25082965ae94d90e87604a#diff-8b18bf8126c80110d59f39f0a80e5430

[2017-12-17 15:35] matcham opened #335 "[ossia-max] parameters value is outputted when a view binds to a model"
When a view binds to a model, all ossia.parameters output their value again.

<pre><code>
----------begin_max5_patcher----------
1762.3oc6bsrjiZCEcsmpl+AJ1zabbP7lra1lJqRkcSkxkLHaqY.IWfnejox
+dzCjAgw13dr6WgMl1RHoqN5pyU536L+3yeZl8J5inJaqey5qVyl8CdIyjkI
JYltfY1EvGSygUxWzNkVTfHL64MUxPOxjU7vVDwBZcOF8f0JLIqxhQ4euflg
xmaAyys1AKgEHFprx5dXdMpxBVhrp51a4XBJkVSjcomtTRcAslkiXRSvQWLN
SNvzUe6WB22C6frzsXxlkknTlZp

[2017-12-17 15:57] matcham opened #336 "[ossia-max] parameter @repetitions 0 : remote do not receive parameter value when view binds to model"
when parameter @repetitions 0 : remote do not receive parameter value when view binds to model

<pre><code>
----------begin_max5_patcher----------
1913.3oc6bsziaaCD9rCP9OHnK6kMth5s5olqE8TQuETXPKQayDIRAIp8QC5
+8RwGVhxuj2tdi8FcwzKon3LeyvYH+7f86e7CyrWReBUaa8qVewZ1ruy6Yln
u1dlo6XlcA7ozbXs3AsKgDTt88pgVRqxPUozbZk703LOJ12C3eO+a.+.mj31
u435E3lbuEXti0eqmaYEpFQXPFlRVTgRYx2PDHbty8VdQf1FG0GcSizTPaX4
HlPdbzciy

[2017-12-17 15:58] matcham commented on #335
probably related to https://github.com/OSSIA/libossia/issues/336

[2017-12-17 17:24] matcham opened #337 "[ossia-max] pattern-matching doesn't work with parameter @type string"
only first instance of parameter receives value

<pre><code>
----------begin_max5_patcher----------
778.3oc2XsyaaCCDd1AH+GDzrqfHoDkbWR26PG5XQQ.sLShBjHEHoRcZP9uW
piV1xI9grsrSPWLAO9338ce2CqWt9pQ9Sky4Zeuu58KuQidwJYDHqQxnVAi7
KYyyJXZXi9YxxRtv3OdwhF9bCrvM2rTlntTVaJ3F3HgshymAaTN8wufRWt4J
lI6gbw82p3YF2aAGmDDN1KBgaFHozlgX6Due2dJs44BNbcc0ZtnUonVo2IEF
c9eg8RlDPnIgDDr1qWeUyncX7oa8Bow6Ge+PPfv0tjLYgT4r9vFqs6OD

[2017-12-17 19:14] #328 closed

[2017-12-17 20:38] avilleret commented on #228
you can choose KISS format by adding '.txt' extension to the filename, otherwise it will be saved in JSON.

[2017-12-17 20:38] #228 closed

[2017-12-17 20:42] avilleret commented on #208
I think we forgot this issue...
@bltzr  should we change things right now ? or not at all ?

[2017-12-17 20:58] avilleret commented on #333
I'm sorry I don't understand your isssue... I see there is something wrong when testing, but I really don't understand what you mean :-/

[2017-12-17 21:20] avilleret commented on #333
a quick test demonstrate that min and max are not taken into account when set as argument, maybe this is what you meant @bltzr ?

[2017-12-18 09:11] bltzr commented on #333
this and also that, when provided as message, nothing comes out of the param anymore (I'm not completely up to date, though

[2017-12-18 09:13] bltzr commented on #208
this can come later, I think, as those are additions (and if we decide to use those names, we can always set aliases to model and view so they can keep on being called this way)

[2017-12-18 09:15] bltzr commented on #333
![list-break](https://user-images.githubusercontent.com/113982/34098372-5b8b7996-e3dc-11e7-93dc-f3334a5900bd.gif)

[2017-12-18 09:16] avilleret commented on #333
but a red message appear in the console :
`ossia.parameter: a_list received an invalid data`

[2017-12-18 10:53] avilleret commented on #337
might be related to https://github.com/OSSIA/libossia/issues/334

[2017-12-18 13:58] avilleret commented on #337
as demonstrated in the snippet below, ossia.remote is well bound to parameter
but only the first one in the liste receive change made from the remote
communication in the other way (parameter -> remote) does work

<pre><code>
----------begin_max5_patcher----------
874.3oc0X1rbaBCDG+r8SACGy35gcEBL8TeG5wNY5fMJNjwVPQhTmlIu6EIv
0zXa.gI1jKlAXMK+z9e+.85zI1KS1wD1Ve05GVSl75zISzWRcgIUmOwda3tU
aBEZyrWlKkIb6

[2017-12-18 15:06] #337 closed

[2017-12-18 20:36] avilleret opened #338 "[ossia-pd] remove old buggy object_base::m_nodes member variable"

[2017-12-18 20:58] #335 closed

[2017-12-18 20:58] #336 closed

[2017-12-19 08:17] avilleret commented on #334
fixed probably thanks to https://github.com/OSSIA/libossia/commit/b32ec1937312b562f65cfccb6ec09563e79c6120

[2017-12-19 08:17] #334 closed

[2017-12-19 09:23] avilleret commented on #279
@matcham is this issue still there ?

[2017-12-19 11:49] avilleret commented on #277
fix by @pchdev, thanks !

[2017-12-19 11:49] #277 closed

[2017-12-19 11:53] #285 closed

[2017-12-19 13:29] avilleret opened #339 "[ossia-pd] [ossia-max] add more unit test"
for max : use https://github.com/Cycling74/max-test

for pd : infrastructure is ready for test on Appveyor and Travis (linux only)

[2017-12-19 13:42] avilleret commented on #307
@bltzr it mark as done in project manager so we should it right ?

[2017-12-19 13:47] bltzr commented on #307
yep

[2017-12-19 13:47] #307 closed

[2017-12-19 13:59] avilleret commented on #333
there is still something wrong with min/max, start with ossia.device help file

[2017-12-19 20:48] #338 closed

[2017-12-20 12:25] theod commented on #299
poster sur des forums ?
envoyer des mails à des contacts susceptibles de relayer l'information auprès d'une communauté ?

forum :
- https://python-forum.io/Forum-News-and-Discussions
- la liste de discussion rvid ?

communauté :
- https://raspbian-france.fr/contactez-nous/
- blender mais il faudrait un exemple mais j'ai essayé de mettre en place simplement et c'est loin d'être évident ...
- modul8

[2017-12-23 14:50] avilleret opened #340 "osx libossia package contains unity3d and ossia-pd artifacts"

[2017-12-29 13:12] benkuper opened #341 "[ossia w/ juce] make_zeroconf_server throws bad allocation exception"
Hello,
i'm trying to take advantage of the zeroconf integration of libossia to declare other OSC servers, but this line throws a bad allocation exception :

`ossia::net::make_zeroconf_server("Test", "_osc._udp", "Test", 6000,6001);`

there is no problem with port availability.
I tried to use Servus aside of ossia but i got "class redefinition" errors, so i guess i gotta make it work through ossia.

[2017-12-29 16:55] jcelerier commented on #341
mh... this is just a very thin wrapper over the servus library so I don't really see what could go wrong: in your case it's equivalent to calling Servus like this

[code]

do you think you could get a stack trace for instance by adding a breakpoint on `throw` ?

[2017-12-29 17:00] jcelerier commented on #341
by the way, what happens if you create an osc or minuit server directly in ossia ? those should expose themselves along through zeroconf.

eg

     ossia::osc_protocol proto{"", 6000, 6001, "Test"};

for instance

[2017-12-30 21:31] #325 closed

[2018-01-02 13:53] avilleret opened #342 "[ossia-max] crash when cutting ossia.device in ossia.device help patcher"
in tab "Network exposure" select ossia.device, press cmd+x and kaboum :

https://gist.github.com/avilleret/894196082d34e1d8f8c22149c73b8bf6

[2018-01-18 14:07] jln- opened #343 "ossia.attribute - some attributes cant get get"
With ossia-max b13, ossia.attribute can get some attributes. Unsupported attributes list is as follow:

- default
- description
- hidden
- priority
- rate
- tags

Test patch below.

<pre><code>
----------begin_max5_patcher----------
724.3ocyVtraaCCDEcs7Ww.sVwPTxO6JgtqKJP2WWTPKMwlARjBjTo1HH+6k
OrRjqeIm3zVf.KyIi3ctGMZLeZPP3RwFTEBeB9NDD7zff.WHaffcqCBqnaxK
oJWZg4hpJjqCi7+OMtQ6hWf2SaJ0.GAIpTBoFpoJ3QZI1

[2018-01-18 14:14] matcham opened #344 "preset do not respect parameter @priority attribute"
recalling a preset do not always respect parameters priority order :
*sometime*, order is reversed !!

<pre><code>
----------begin_max5_patcher----------
1077.3ocyY0zjiZCD8r8uBUbl3EgvfImlK4RpbHUxdKaJWxfFasEHQIDS7ra
s42dzWLlYFFaFaM14hYPtQsdO2c+5l46ymErgumzF.9YveAlM66ymMyrjdgY
t6mETi2WTgaMlETvqqILYPn86jj8Ry52K30.Isl.jby0P.WTRD.ZKPPdfHZI
kZ6bOGqqlxpHRylBcKRKMaEeyW+oX3.K4cxdSibq1JerhXrt2tFrrXGkscsf
TH

[2018-01-18 14:15] matcham commented on #344
change parameters priority attribute
re-create a preset :
open test1.txt : parameters are still in the same alphabetic order
(is it normal ??)
I mean : where do parameter ordering is supposed to happen ?
In the model itself ?
(apparently not in the preset file...)

[2018-01-18 14:21] avilleret commented on #344
priority are not supported in preset file at all for now

the preset is recall in the order the node appear in the file
and should be saved (but it's not the case yet) according to priority

sorry for that

[2018-01-18 14:27] matcham opened #345 "[ossia-max] model namespace message should output parameters in @priority order (?)"
IMHO namespace message should output parameters regarding priority attribute, no ?
(that would be very convenient in order to build homemade preset / cue manager !!!)

<pre><code>
----------begin_max5_patcher----------
651.3ocwW87aaBCF8L7WgkOyhrARBrS4xtrSSZ81zTjCwKwUfMxX5RTU+ee9
WzRSPIzV5xkX7Ge1O+dwuOadLL.tQbf1.AeE7KPPvigAA1Pl.A99AvJxghRR
iMMHm9Wwl6gQtWonGT1v0RFW0Ek2Vw3kTkcDXeP1Vah5A+krdIJZUcYh7Qa

[2018-01-18 22:15] jln- opened #346 "ossia.remote doesnt output value on view connection when bound parameter repetitions==0"
When sending 'address my_model' to an ossia.view, containing ossia.remotes do not output parameter value if the parameters has its repetitions attributes set to 0. See model and view patcher below.

<pre><code>
----------begin_max5_patcher----------
1246.3oc6Z80bppCD+Y7SACO6sCADTOO06miNmwIBQMmClvjDrs2yzu627GP
CpXSqGv1N8gR0cSxt42t4WHa7Oi7BVReBwC7+g+C9dd+YjmmVjRfW828B1Be
Jq.x0MKXYITjsAwBFaTtCidbGliW

[2018-01-18 22:39] avilleret commented on #344
moreover this is not specific to `ossia-max` but affect all implementations

[2018-01-18 22:40] avilleret commented on #345
this is a good idea, what do @bltzr and others think about it ?

[2018-01-19 00:25] avilleret commented on #345
what about adding a parameter to choose sorting criteria to [namespace( message ?
something like [namespace name( to sort by name, [namespace priority( by priority and so on

the priority listing is almost ready

[2018-01-19 00:59] jln- commented on #345
Didn't we discussed something like 'namespace name_of_a_device' sent to ossia object at some point ? Or did I dream about it ?

Otherwise, yes, something as simple as that would be great !

[2018-01-19 07:02] avilleret commented on #345
I remember you evoked an option to get the namespace of all devices inside Max/Pd from the `[ossia]` object but IIRC I was not strongly convinced by the idea :-)

[2018-01-19 07:05] avilleret commented on #345
here is the discussion about such a feature: https://github.com/OSSIA/libossia/issues/269

[2018-01-19 07:06] avilleret commented on #269
as we discussed here https://github.com/OSSIA/libossia/issues/345

[2018-01-19 07:44] avilleret commented on #344
@matcham, @bltzr, @jcelerier, @jln- et. al. should preset be save by priority order and then restored as is (trivial for KISS but not for JSON).
Or should the preset be saved without taking priority into account and use priority when restoring ?

On my point of view, the first allow to change parameter loading by editing the preset file and whithout touching parameter priority, but if we need to d

[2018-01-19 11:28] matcham commented on #344
I like to think the presets as cues : when recalled, they should outputs parameters in the order they are written in the file. It's a sequence of events.
+ this is a nice & easy way to check that the priorities are OK : just open the preset file in a text editor.

if for some reason, priorities need to be changed for one specific preset / cue, it's easier to edit the file that modifying parameters

[2018-01-19 13:51] avilleret opened #347 "[oscquery_protocol_server] pushing value doesn't send it over the network"
as noticed by @matcham and @jln- changing values in an oscquery device doesn't update the values on the client (for instance score)

this also happens between 2 Pd patchers

It appears that `oscquery_server_protocol::m_clients` is not filled with connected client.
Requesting a value (by sending a bang to an `[ø.remote]` object) works.

[2018-01-20 08:14] avilleret commented on #347
from : https://github.com/OSSIA/libossia/commit/fe16d223f2d3e1c3d9e465e3861b689ec7be1739

build with example, run `./ossia_network_oscquery_publication_example`
open `score` add device `B`, the `/test/float` value should change but it's not.

[2018-01-20 10:59] matcham commented on #344
@avilleret : you said "the preset is recall in the order the node appear in the file"
but this doesn't seem to work either, actually.
(editing manually ~/test1.txt to reorder parameters do not change the way they are recalled when reading the preset file)

[2018-01-20 11:27] matcham commented on #344
another example showing that sending 'set' messages to a model to set parameters value in different order DO NOT change the order the values are received by the parameters.

Looks like the model do not send param value immediately, but waits for a while, buffers all received messages and reorder them before sending them to parameters.
Am I right ?

<pre><code>
----------begin_max5_patcher---------

[2018-01-20 15:50] avilleret opened #348 "OSSIA_TESTING has too many dependency"
Tests should be enabled according to selected option
e.g. don't try to build editor test if OSSIA_EDITOR is disable...

[2018-01-21 00:20] #348 closed

[2018-01-21 10:59] avilleret commented on #347
to reproduce :

[code]

the test fails when comparing expected value with current client value after a change pushed from server.

[2018-01-21 11:03] avilleret commented on #347
the test fails since 9bb5eb40ef19560a2d32383be8df1eed194cc560

[2018-01-21 17:39] #347 closed

[2018-01-22 08:41] avilleret opened #349 "simplify CI script"
put each case in a separate script to make it more reliable (if there is a typo in a sub script, other subscript are not affected)
and it will be more human-readable

[2018-01-22 09:07] bltzr commented on #344
I completely agree about this

also I guess it's much more efficient if there is not priority test when sending (because that certainly takes some time, and time is a critical asset when recalling a cue)

so I +100 this!

[2018-01-22 10:35] jln- commented on #344
+ whatever, as well

I also make a separate issue with @matcham patch example

[2018-01-22 10:37] jln- opened #350 "[ossia-max] ossia.model bufferizes input messages ?"
As reported by @matcham:

Am I right ?

----------begin_max5_patcher----------
1129.3oc2Y0zjahCD8r8uBUbl0kj.LPNkK6k8zV0laaskKYP1lDPhRHxXmT4
+9pO.aOyXXvikcRkKfQHTq2Sc2uVxee9Lu078zFOvG.+KX1ruOe1LSS5Fl08
7LuJx9rRRioadY7pJJS54aemjtWZZ+ocTFngxxKXaU2qoBhjlCpnMMjszFeP
gD7DW7kF.oAP2WSyTuteTJKXzLdKyLTAcMxZq3sxRpzXXXWqMxCkTiE6+3Zh
LamxpqDpwzBELLYAzGfhP1aP8sv3EPv+08QE4lwfu9y+ANz6jEKX8FDoa6Gy
mqu3OQxoCsuhbpNr

[2018-01-22 21:41] #343 closed

[2018-01-22 22:00] avilleret commented on #350
In fact everything is bufferized because Max is not thread-safe.
But this is a good question, so I'm gonna to try to answer it as clearly as possible.

Network callback happen in a separate thread (i.e. in another process than Max itself that runs in parallel).
Sending a value through an object's outlet from another thread than the main Max's thread is crash prone. And believe me, crash happen :-)

[2018-01-22 22:00] #350 closed

[2018-01-22 22:09] avilleret commented on #350
in your example, the internal clock of the two parameters are not in sync, even if the rate is the same, there is no guarantee that they will be processed in the same Max tick. So the order is currently undetermined...

I know this is an issue.
And now starts the headache...

The first solution that comes to my mind is to have a global clock, at least per device to pool every parameter in the same

[2018-01-22 22:10] avilleret commented on #350
I'm curious about what @jcelerier think about that ?

[2018-01-22 22:23] avilleret commented on #346
I like the code snippet you're always including in your report

[2018-01-22 22:31] avilleret commented on #346
btw this only happen is the parameter value have not been set (I mean the default value is not output by the remote)

[2018-01-22 22:31] avilleret commented on #346
but the default value is not output by the parameter itself either

[2018-01-22 22:50] avilleret commented on #346
it does work in pd, this is max specific

[2018-01-22 23:17] jcelerier commented on #350
https://en.wikipedia.org/wiki/Garbage_in,_garbage_out

basically whatever we could do would just be trying to fix up max (which we can't really do anyways) so any "solution" will have downsides ; what matters is finding the set of downsides that makes the most people happy :p for instance the global clock besides of nullifying the `rate` would also certainly induce worse performance since every va

[2018-01-23 07:59] avilleret commented on #346
one more strange behavior in Max : when opening your test patcher, the default values are output from ossia.parameter or not randomly on loading...

[2018-01-23 09:37] avilleret commented on #350
one option would be to mix the two :
- keep the rate attribute to output value as they come
- trig a dequeue on each children of an `[ø.model]` (or whatever that inherite from `ossia::max::node_base`

And yes, if there are lots of values then this might hangs max a while and possibly make audio glitches, then we could use the ugly `[deferlow]` object :-)
I think it's worst a try, it should work in

[2018-01-23 11:01] avilleret commented on #350
this behavior have been implemented in 4acceda9aad1ebf8aef2813619879e41b2dd8e6f and 887fa763d6a1c7a2d1a42e803b12b42648083f37

[2018-01-23 11:03] avilleret commented on #344
the only way to solve this is to reimplement `apply_preset` method in ossia_pd / ossia_max and to fire the value as they come (and don't wait for the callback)

[2018-01-23 11:47] jln- commented on #350
Thanks for this detailed explanations @avilleret ! I get it.

Then, out of curiosity, does that mean that in Jamoma, this _problem_ was dealt with using a general Jamoma clock (I tried the same situation and from my quick test, messages order seems preserved). Just curious.

[2018-01-25 09:40] bltzr commented on #269
I'm not sure we should use [j.namespace] as a model, it was quite complicated, maybe even a bit convoluted...
it worked by creating and combining filters, e.g. ```filter/set eqViews object Container attribute service value view```

maybe there are some existing search query syntaxes now, that we should get inspiration from ?

[2018-01-25 09:48] bltzr commented on #269
but, yeah, maybe an [ossia.namespace] (or maybe rather [ossia.explore], [ossia.browse] or [ossia.explorer] ???) would be a better idea

specification hypotheses:
- when placed under a device (including the global device) or node, it returns everything that lays under the provided node (e.g. ```/``` returns the full namespace, ```ch.3``` returns everything under this node (as a relative address)
-

[2018-01-25 09:55] bltzr commented on #269
also, we could add an attribute per parameter's attribute, e.g.
- ```@name  (nothing provided)``` will return all nodes under the provided address
- ```@name ant{oine,hology}``` will return all nodes only for the matching names under the provided address (of course this can be combine with wildcards for the addresses, as @avilleret suggested, e.g. ```*:///foo``` -> this would return all ```antoine

[2018-01-25 10:07] bltzr commented on #346
is this still happening ? because, with a fresh build, everything seemed to work OK - or did I miss anything ?

[2018-01-25 13:24] jln- commented on #346
With a build from a couple of days ago, there is still a problem. But Antoine may have fixed this since ?

Actually, this doesnt seem random here. If I open Max, then open the test patch from disk, parameter 'caca' does output its default value (1) on loading.

If I close patcher, then re-open, parameter 'caca' wont output its default value.

If I quit Max then re-do the above steps, I get the sam

[2018-01-25 14:15] jln- commented on #269
Sorry for the delay, I bookmarked this but did not have the time to fully get into it. Thanks Pascal!

Yes, I agree.

Something that would be good being able to do is what we use to do with [j.receive model:address]. Being able to get the parent model address.

When working with j.namespace something also used in quite some Jamoma models was being to output a full namespace or only model or attrib

[2018-01-25 15:25] bltzr commented on #269
Maybe that could be something that we ask to all ossia.objects ? like (get parent) or something ?

[2018-01-25 15:27] bltzr commented on #269
we could do that by filtering with the access attribute for example ```@access get set bi``` would return only parameters, since models don't have these attributes
would that make sense ?

[2018-01-25 15:35] bltzr commented on #346
or did I completely miss the point ?

[2018-01-25 16:04] bltzr commented on #312
```@default``` seems to be broken again (in Max only) - could you test if that's also the case on your side, @avilleret ?
(also sending (reset) doesn't reset the value to the default)

[2018-01-25 20:09] jln- commented on #269
Rusé ! :-) Works for me.

[2018-01-25 23:15] avilleret commented on #312
we definitely should setup test environment for max to avoid that kind of annoying regression

[2018-01-26 07:38] avilleret opened #351 "build SHA is empty on ossia-pd / arm release"

[2018-01-26 09:18] avilleret opened #352 "ossia-pd/Max crash when quiting pd with a device exposed with OSCQuery"

[2018-01-26 11:31] bltzr commented on #352
I think that's the same with Max (crashing when quitting the overview, which has a automatically exposed device in it) so I'm updating the title

maybe that's a general libossia problem - I have the impression @pchdev reported the same thing in another implementation

[2018-01-27 13:30] jln- opened #353 "[ossia-max] cart3D to spherical unit conversion is broken"
Unit conversion between a parameter (cart3D) and remote (spherical) is broken. Conversion seems to be 90° out of phase or something.

<pre><code>
----------begin_max5_patcher----------
766.3ocwXFsaaCBEF9ZmmBj0tLyBrisS1U4hIsa1avzTEwg1RUBXA3tTU028
YevtMswIPZrSkphEDH+myG+bvzmmDDtRtioCQ+.8GTPvySBBftZ5HnscP3V5
thMTMLrvsLsldGKbp86LrcFn+uSPDDtq6RESyDFpgKE2nXEFqDwooQ3oHxh7
lGIKZ9LNNBi9a67DUa4hMLCnUbamZySa

[2018-01-28 22:00] avilleret commented on #320
https://github.com/OSSIA/libossia/releases/tag/1.0.0-b15 also suffer from this

[2018-01-28 22:03] avilleret commented on #276
this should have been fixed with https://github.com/OSSIA/libossia/commit/3523cc74f46cf3fab1d09f186bb2d12e7b39f05e

could you confirm @bltzr ?

[2018-01-28 22:04] avilleret commented on #270
still true for https://github.com/OSSIA/libossia/releases/tag/1.0.0-b15

[2018-01-28 22:09] avilleret commented on #153
@bltzr could you test that ? it should work nowadays

[2018-01-28 22:12] avilleret commented on #142
no I don't, it'll add confusion to me
I'd rather add an [ø.model sub] besides the [ø.param thing] intead

[2018-01-28 22:12] #142 closed

[2018-01-28 22:13] avilleret commented on #140
I think this is done for a while now

[2018-01-28 22:13] #140 closed

[2018-01-29 08:55] bltzr commented on #142
OK

[2018-01-29 18:58] jln- opened #355 "[ossia-max] remote outputs value 1 time out of 2 when parameter does not allow repetitions"
I had a hard time tracking this one ! There is something wrong with the way repetitions filtering is handled between a parameter and the attached remotes. Most likely related to #346 ?

With a parameter with repetitions set to 0, attached remote output value one time out of 2. Steps to reproduce:
-  in the view bpatcher, add a point to bpf
-> values are set to the remote (no output, ok), then para

[2018-01-30 12:01] #352 closed

[2018-01-30 12:28] bltzr commented on #352
:fire: :fire:

[2018-01-30 12:55] jcelerier commented on #204
thanks!!!

[2018-01-30 18:33] avilleret opened #356 "[ossia-pd]/[ossia-max] add `queue length` attribute for parameter/remote"
as discussed here : https://github.com/OSSIA/libossia/issues/317#issuecomment-350648218

[2018-01-31 14:15] #135 closed

[2018-01-31 17:25] avilleret commented on #312
yes I confirm this is broken

[2018-02-01 08:23] avilleret commented on #312
the test I made yesterday was biased, and today, I can confirm that it works
could you test @bltzr against 8921ac7ad3bdc28d26b39b30df72bb9b4d7defdc ?

[2018-02-01 08:23] #312 closed

[2018-02-01 10:28] bltzr commented on #312
confirmed!

[2018-02-01 22:32] avilleret opened #357 "[ossia-max] crashes on [get range("
[code]

crashes on Max/macos

[2018-02-01 22:33] avilleret commented on #357
may be related to https://github.com/OSSIA/libossia/issues/333

[2018-02-03 11:26] #356 closed

[2018-02-03 11:28] avilleret commented on #356
@bltzr or @jln- could you please update the max/pd documentation to add this ?

here is a Pd patcher that demonstrate the use :
[queue_length_test.zip](https://github.com/OSSIA/libossia/files/1691692/queue_length_test.zip)

[2018-02-05 09:39] #255 closed

[2018-02-05 09:39] #344 closed

[2018-02-05 09:41] avilleret commented on #255
@bltzr, @matcham @jln- could you test that ?
both JSON and .txt preset should be fixed now

[2018-02-05 09:42] avilleret commented on #344
@bltzr, @matcham @jln- could you test that ?

[2018-02-05 09:57] avilleret commented on #317
since https://github.com/OSSIA/libossia/issues/356 is closed
I think we can close this one too

[2018-02-05 09:57] #317 closed

[2018-02-05 10:02] avilleret commented on #122
can't reproduce it anymore, could you confirm this is fixed @bltzr  ?

[2018-02-05 10:02] #122 closed

[2018-02-05 10:03] #276 closed

[2018-02-05 10:08] avilleret commented on #193
since the behavior describe in the very first post now works both in Pd and Max, I close this issue

[2018-02-05 10:08] #193 closed

[2018-02-05 13:20] #333 closed

[2018-02-05 13:20] #357 closed

[2018-02-05 15:41] avilleret commented on #355
hum... this is a weird Max artefact I think :-)

disconnecting the `ossia.remote` from `pattr` make it works

<pre><code>
----------begin_max5_patcher----------
2098.3oc6assjZiCD8YluBU7LgX4aX1ml8CX+BRRQIvBFkXrnrkYljTY+1Wc
w1HaP1hYv3YSkGBjQxV9nS2p61c27yGlLcM8Eb9TveA9DXxje9vjIxgDCLo7
umLcO5kMInb4kMcCc+dbJa5L0bL7KL43GI3mqFjDKGht9qeHnZrCY3b98gXD
Z5pL7Fl5gFBWL2YFXYf3SXfi3KW9mfuTdeoE6IoIXl7oCKGLm88Dr7YT

[2018-02-05 22:14] avilleret commented on #351
seems to be fixed in b16

[2018-02-05 22:14] #351 closed

[2018-02-06 00:27] avilleret opened #358 "add ø.parameter alias in Pd"

[2018-02-06 00:27] avilleret opened #359 "remove anoying error in Max/Pd console when view (and other) has no argument"

[2018-02-06 03:27] avilleret opened #360 "add `recall_safe` attribute to ø.param to exclude it from preset loading"

[2018-02-06 09:29] bltzr commented on #360
in Jamoma, we did this for messages and returns... the equivalent of which would be to only include ```@mode BI in presets```

my 1.52 brouzoufs

[2018-02-06 09:30] bltzr commented on #358
what would that do ?

[2018-02-06 12:39] avilleret commented on #358
ø.param = ø.parameter just for consistency with Max

[2018-02-06 13:44] bltzr commented on #358
aaaaaaaah… OK ! I thought that was already here !
(and I thought you mentionned some more ‘advanced’ alias stuff like we discussed about ø.view)
sorry for the noise

[2018-02-06 21:25] jln- commented on #360
sounds good to me rather than adding a new attribute

[2018-02-07 08:36] avilleret commented on #360
hum, OK in the meanwhile at least I'll use `access mode` to filter out parameter.
Only `BI` parameter will be saved.

But what if (and it's my case actually) I want to control a parameter from a remote (and get it's state) -- for instance a mic volume -- but I don't want to save it in the preset ?
I do need the parameter with `BI` access mode to control it.
So we need a new attribute in that case

[2018-02-07 08:45] avilleret commented on #360
more than not saving it, I don't wan't to recall it.
The value should always be saved in the preset, but only restored the `recall_safe` attribute is `fakse` (which will be the default)

[2018-02-07 09:07] bltzr commented on #360
Agreed !

What if ```recall_safe``` was ```false``` by default for ```mode BI````
and ```true``` by default for other ```mode```s

so the user can choose whatever they want, and yet we get a satisfactory behavior by default ?

would that make sense ?

[2018-02-07 09:27] avilleret commented on #360
hum, should `SET` only and `GET` only parameter be saved in the preset file ?
I'd say no.
In that case, recall_safe attribute will be useless on those parameter

[2018-02-07 09:57] avilleret commented on #346
what does not work for me :

the default value is not fired from the remote when binding the view to a model and if the parameter as its `repetitions` attribute set to 0

all with this patcher:
<pre><code>----------begin_max5_patcher----------
1325.3oc6YssbihCD8Y7WAEO6MEha1deJy2QpsbICx1ZVrDEHRxrSk+8UW.L
XavxwFBoFdAmzsDz8oa0R8Q+dlg0F56nLKy+17ESCieOyvPJRHvn3+MrN.eO
LFlIGlEA8FcyOslqTwPuyjhSLOPiPwkxSf

[2018-02-07 10:06] bltzr commented on #360
I'd say that, by default, they shouldn't, but I don't see a reason to forbid that if that doesn't create extraneous technical complexities to implement
my opinion

[2018-02-07 13:58] jcelerier commented on #360
it would. At that point, when attributes start to be part of the preset, wouldn't it be simpler to directly use the json of oscquery messages to represent presets ?

[2018-02-07 14:25] bltzr commented on #360
oh, sorry, I didn't mean that - what I meant:
- we have a ```recall_safe``` attribute (or should it just be ```recall```and default to 1?)
- when no value is set to ```recall_safe``` it defaults to: 1 for ```mode```s ```GET``` and ```SET``` and to 0 for mode ```BI```
- if there is an explicit value, then, well, we use the explicit value
- presets only saved values of parameters with ```recall_safe

[2018-02-07 21:08] avilleret commented on #360
hum, about checking the attribute when loading the preset, this allow to recall or not the value as needed.
For me, the attribute state should not be stored in the preset, only the parameter's value despite the `recall_safe` status

The first use case that comes to my mind is something that was asked during the ENSAT's workshop :

Well, the question was more like adding a "touch"-like (cf. Protool

[2018-02-07 21:17] avilleret opened #361 "[ossia-max] refreshRate error when opening overview patcher"
as reported by @klangschmied on gitter

[2018-02-08 13:33] matcham commented on #361
ossia.parameter: no attribute refreshRate
only when there is a ossia.device in the patch.

[2018-02-08 13:37] matcham opened #362 "[ossia-max] parameter output value twice when there is an ossia.device"
Only when there is an ossia.device in the patch, ossia.parameter return each new value 2 times.

<pre><code>
----------begin_max5_patcher----------
575.3ocyV1riaBCEEdM7TX40zHvjfR6ptnq5ptupJxAbSbD1FYaxjnQy6d8e
zjIAnLzLUcQ.7M126we9bQ7bbDbq3DQAAeB7cPTzywQQtP1.QgwQPF9TYMV4
lFjSdRr8.Lw+WZxIsKrPon3EUjizRBfc9KtG5lEukQ40DsKCYgfMRhhv0XMU
v2HIkZuJxJVjl.PKsWyxc2PnEofeDVFsxWusG9P1U4Wzpus.9P5yMDelgvem
Dk9bsKJr

[2018-02-08 14:11] avilleret commented on #361
thanks for the precision

[2018-02-08 14:17] bltzr commented on #360
yes, if that's checked at loadtime, and not at recall time, then that's fine
I guess, in the long run, the problem in this implementation is that (AFAIR) there is one and only action for load and recalling the preset (right ?) which is probably suboptimal because that involves disk access, which is usually slower, and we want preset recalls to be quick, don't we ?

as for the name, I agree that th

[2018-02-08 20:25] #358 closed

[2018-02-08 20:51] #359 closed

[2018-02-08 20:51] #361 closed

[2018-02-08 21:24] #362 closed

[2018-02-08 21:46] jln- commented on #360
Sorry for being late on this, currently in a rush.

I'd also favor `recall 1/0` rather than `racall_safe 0/1`.

Or maybe something along the line of ìgnore 1/0`? `preset 1/0`? `snapshot 1/0`? Just thinking out loud.

[2018-02-09 09:09] avilleret commented on #360
this is already implemented as `recall_safe` attribute in libossia and max and pd
but now it's only used in Pd / Max

could you @bltzr & @jln- update the document (both help patcher and ossia.io) ?
thanks

[2018-02-09 09:42] avilleret commented on #269
concerning the name, `ø.namespace` does't reflect all what you can do, `ø.explore` will be more explicit, or `ø.browse` what do you prefer ?

[2018-02-09 09:43] bltzr commented on #269
👍 for ø.explore

[2018-02-09 09:59] bltzr opened #363 "implement recall_safe attribute in various implementations:"
related to https://github.com/OSSIA/libossia/issues/360

- [ ] ofxOSSIA
- [ ] SC
- [ ] QML
- [ ] python

[2018-02-09 10:06] avilleret commented on #235
@Lucarda I successfully load ossia on Pd 0.48.1 under Windows 7
unfortunately the CI builds are currently broken,
but the binary uploaded on 20117-10-20 works (with all bugs that have been fixed since :-) )

could you give it another try in the next days ?
or you could also wait for a release, I hope CI build will be fixed by the end of the week, so I can launch a new release in the week end.

[2018-02-09 11:01] avilleret commented on #269
it will be `ø.explorer` for consistency with `ø.logger`

[2018-02-09 17:45] avilleret opened #364 "[ossia-max] crash when changing hidden attribute from the remote"
<pre><code>
----------begin_max5_patcher----------
612.3oc2V0ziaBCD8L7qvxmoQ7QfP5odt+EpphbfIIdEXiLlsY0p8+dsGCo6
tMARhXaU6Ea4gwyadC9M1O66Q2JOBsTxmIei348rumGZxZvqesGslcrnh0ht
QYZspiSCbextBMefWVBhAyhtZYmtBz3dh5s1vzEG3h8aTPg1gY1pEgAj7b6X
b5ZbJdQH468agWhQWt8gOEGND8V8SU.ZevhCL8SMfKrT5oHXREt3TlXs8huu
cH3JIr.9gA9AjzvQL0oMJtPSTPsTCmm1gWl1Q8TMLxNsJcLdGkeYd+QQNkgF
.gUVp.iimkcwiwNjPQY3T9xQYW1s7WM3h+YiuCxuqRZh

[2018-02-09 18:42] Lucarda commented on #235
You mean: 1.0.0-b8 ?
from Oct 19, 2017.

[2018-02-09 22:04] avilleret commented on #235
sorry, I was referring to the one available from Deken

[2018-02-09 22:13] avilleret commented on #363
we should also take care of priority when writing preset in several implementations

those two should be address in one shot when merging ossia-pd/max code into `ossia::presets`

[2018-02-10 10:58] avilleret commented on #360
now there are some function in ossia::preset that take care of `recall_safe` attribute when loading  a  preset and sort nodes by priority when storing.

[2018-02-10 10:58] #360 closed

[2018-02-11 16:03] bltzr opened #365 "[ossia-max] ossia.attribute crashes when using pattern-matching"
best way to notice it is to open ossia.attribute's help patcher, which instantly crashes !

just removing [ossia.attribute multiples.{1..3}] and the patcher loads like a charm, like in the attached
[ossia.attribute.maxhelp.zip](https://github.com/OSSIA/libossia/files/1714531/ossia.attribute.maxhelp.zip)

[2018-02-11 16:04] bltzr commented on #365
https://gist.github.com/bltzr/e0b23947adf39eaca19fbd7e9035bf3d

[2018-02-11 16:08] bltzr commented on #364
with the pasted patcher, it also crashes when changing it from the param's attrui
just saying...

[2018-02-11 20:43] jln- opened #366 "[ossia-max][ossia-pd] default value output does not follow priority on model initialization"
As shown below, parameters' default value get sent in alphabetical order on model loading and not according to priorities set to parameters.

<pre><code>
----------begin_max5_patcher----------
1566.3oc0ZssbihCD8Y6uBJdNICRbyddJ29KlZKWBP1QYvBWfbtrSM+6qPBH
fsAjATr2pxDWSKCmiNcqtaIk+LelYPxG3LSieZ7KiYy9y7YyDlxMLq3+OybK
5ivXTl3qYtNNgteq4MxgxXeFiE1KsrCwBegP2rJEGxjuXGuE2YciA.Bx+v0J
+2P3cVF+SwyvegI6YwXl.BXg

[2018-02-11 20:54] jln- opened #367 "[ossia-max][ossia-pd] remotes send a 'set' message without any arg on initialization when bound param has no default value"
remotes send a 'set' message without any arg on initialization when bound param has no default value.

The bound parameter does not output anything on loading, as expected.

This seems to only happen with parameter of type 'list', as shown below.

FYI, there was the same issue with Jamoma and parameter of type array. Not sure if and how it was fixed.

<pre><code>
----------begin_max5_patcher------

[2018-02-11 21:06] jln- opened #368 "[ossia-max] set message on remote is broken with parameter of type list IF list is less than 5 items"
When sending to remote's inlet 'set value', bound parameter outputs value but not the remote. OK.

If parameter is of type list, both parameter and remote outputs value when sending 'set a list of values' to remote's input.

I think we discussed this one but could not find any issue. Sorry if I missed it.

<pre><code>
----------begin_max5_patcher----------
1636.3ocyZ88iahCD94r+UXgN0m1tELPH4dpaa08x

[2018-02-11 21:11] jln- commented on #368
Finally found back the issue about this. https://github.com/OSSIA/libossia/issues/261

So yes, the method was added at some point, but seems it broke with type list.

[2018-02-11 21:13] avilleret commented on #366
this have never been implemented but it should

[2018-02-11 21:25] jln- commented on #364
Anyway, 'hidden' is already a Max attribute common to every object. So it may be wise to change this.

I assume this attribute is in libossia and not only in Max so it is annoying to change this in Max only. But as it is now, it seems even more annoying to keep an attribute name already used by Max.

[2018-02-11 21:34] jln- commented on #355
Well, sure it removes the weirdness. Only problem I see is that it totally break this patch. :-)

It is still a bit weird though that allowing repetitions make it work as expected. Anyway, I guess I can filter repetitions out of parameter for now.

[2018-02-11 21:43] jln- commented on #368
Well, I am missing something I guess. 'set' message seems to be working ok with the test patch provided in this issue: https://github.com/OSSIA/libossia/issues/355

*head scratching*

<pre><code>
----------begin_max5_patcher----------
1594.3oc6ZssjZiCD8YluBWt1GYmXIiMl7T1Of8KHYKJAVvnDiDkrLgrox9s
u5huHavXALlLUpT0DXltkkN5nVcKcb99SS7WwNhy88du2G8lL46OMYh1jxvj
x+dh+Nzw0Ynbcy7Wy1sCSE9SM9D3iBs8CD7WqLlK9VF

[2018-02-11 21:55] jln- commented on #368
OOOOOk. This was a fun one. Set method is broken only when list has less than 5 items:

<pre><code>
----------begin_max5_patcher----------
734.3ocyX9sjZBCEF+Z7ofgoWZcH72Pup22K5CPmNNQMqksPhSRXqN6ru6kD
.WaUBw.p6LNfbLjuy4Ge4LAecli2J5dL2y8Kt+v0w40YNNpPx.NsW63Uh1ut
.wUCyaMsrDSDdya9MAduPEeEi9aLoKLWbn.qh2EYGRr9W4jsKY30hFAifIK7
m6FBCjm.w9xSA0Gc+Y6MQpJoUhBrPoseaz7MpYlt54OG3eb9YXdcdgD4Tx0p
QNoSBfL1aylIOL+wQ

[2018-02-11 22:26] jln- commented on #90
Digging this one up, following the issue I reported here (assuming that the cart2pol conversion was broken):https://github.com/OSSIA/libossia/issues/353

Of course, I'm totally fine having this cartesian to polar the way it currently is in libossia, but from a practical point of view, we (I) seriously miss xyz2aed conversion.

If we really need to decide which type of cartesian to polar conversion

[2018-02-12 01:07] Lucarda commented on #235
I had the same troubles as described above. It looks that it is as @jcelerier said:

But I normally don't do that just to detect this types of issues.

It could be documented somewhere that this needs to be installed to run [ossia] on windows Pds.

[2018-02-12 09:08] jcelerier commented on #235
I think that this blog post outlines the procedure that we should follow to ensure that it works everywhere: https://peteronprogramming.wordpress.com/2018/02/05/detecting-if-the-visual-studio-c-redistributable-is-installed/

[2018-02-12 09:29] bltzr commented on #364
AFAIK, we can use different names in libossia and Max for the same attributes - actually, we already do that for some other attributes
so we just have to find another names for the ossia-Max ```hidden``attribute: ```@hide```?

[2018-02-12 09:30] bltzr commented on #368
0_ô

[2018-02-12 09:42] jln- commented on #364
Ah ok. Then what about `@invisible 1|0` ?

[2018-02-12 09:42] jcelerier opened #369 "Have a setting for enabling / disabling automatic exploration of patch in Max / Pd"
eg to make stuff faster on loading, it would be nice to have the ability to disable automatic exploration: this way it would take much less time during the setup.

[2018-02-12 09:49] bltzr commented on #364
good for me!

[2018-02-12 09:51] jln- commented on #368
Actually, then I guess that's what Antoine meant with this comment, here https://github.com/OSSIA/libossia/issues/261 :

@avilleret Am I right understanding that 3 items-long lists MUST be vec3f type, 4 items-long lists MUST be vec4f ?

[2018-02-12 09:54] jln- commented on #369
FWIW, I'm not sure I get what you mean by automatic exploration. What is that to say ?

[2018-02-12 09:56] jcelerier commented on #369
currently objects are created automatically in the tree (eg ossia.parameter, etc... creates object). But when loading with a lot of ossia.parameter it already takes multiple minutes at loading. If instead there was no automatic exploration during the loading of the patch, and the exploration happened only after the patch had loaded, it would be quite faster.

[2018-02-12 09:58] bltzr commented on #368
I'm sorry I have to say that, but "it works on my machine"
did you try with the latest build ?

![lists](https://user-images.githubusercontent.com/113982/36091293-971939b6-0fe3-11e8-82e9-758b6387c2b7.gif)

[2018-02-12 10:02] jln- commented on #369
Ah ok ok. Thanks. Yes, it makes perfect sense !

[2018-02-12 10:09] jln- commented on #368
Hein ? Bah ça marche carrément pas non plus dans ton gif... remote should not output anything in any of the cases in your example. At least that's what I expect.

This is with the build you sent to @matcham and I last friday. As replied to your mail, the one you sent yesterday unfortunately crashes Max when opening a simple patcher... :-(

[2018-02-12 10:10] bltzr commented on #369
yes, that would be the more sensible way to do it... but AFAIK there is no reliable way in Max to know that a patcher has been loaded (my usual hack is to used [loadbang] with a variable number of [deferlow]s and pray that it will work)

[2018-02-12 10:12] bltzr commented on #368
Oh yeah, sur this is (set), sorry about the noise

[2018-02-12 10:20] jcelerier commented on #369
hence why it would have to be manual :p

[2018-02-12 10:29] bltzr commented on #369
You mean that the user would have to click a button for that ?

[2018-02-12 10:40] jcelerier commented on #369
yes

[2018-02-12 12:15] bltzr commented on #364
I just did that change and committed it there: https://github.com/OSSIA/libossia/tree/feature/invisible
not sure about it, because the attribute works (I've tested with score being connected to the patcher) but Max crashes whenever there's a ossia.remote or ossia.attribute object in the same patcher

see below:

<pre><code>
----------begin_max5_patcher----------
720.3oc2X0zaiBCD8bxuBKeYuvFgw.grm5+

[2018-02-12 12:15] bltzr commented on #364
could you have a look at my changes, @avilleret ?

[2018-02-12 14:01] avilleret commented on #369
@jcelerier Can you share such a patch that takes minutes to load ?

[2018-02-12 15:30] Lucarda commented on #235
@jcelerier

It looks good. Also given the fact that ossia is a dll you can statically link ossia with the c/c++ runtime.

We are discussing this same things for MinGW on https://github.com/pure-data/pd-lib-builder/issues/42#

[2018-02-12 16:22] avilleret commented on #368
@bltzr could you bisect this one and tell which commit break the things ?

[2018-02-12 22:19] avilleret commented on #369
At first the registration in Max was delayed by 1 tick to let the patcher load before starting registration.
Hopefully, this reduces loading time.
I never receive benchmark but one patcher from @jcelerier.
So I'm curious how long it takes to load more than 1000 parameters.
I had some loading time issue in Pd 2 weeks ago, but the cause was not very clear.
A patcher that loaded in more than 5 minute

[2018-02-12 22:37] avilleret commented on #366
to do that we need to wait that the patcher is fully loaded and all object registered then fire a reset message to all root nodes

the question is : how to get notified when the patcher is fully loaded ?
maybe this is the aim of the loadbang method....

[2018-02-12 23:18] jln- commented on #369
FWIW, parameters registration itself is not that slow, to me. Just made a quick test patch with 1000 params and patch load in a couple of seconds or so.

Of course, that would be different if each param was bound to some processes initializing stuff but still.

<pre><code>
----------begin_max5_patcher----------
12220.3ocwcurjbkcddFdL4UAhVZjCZF4Zs9Osrmvq.GgG6vgiljPTPAIPGM
PKSZE5d23PCJQwpo.a99UeSppq

[2018-02-13 07:50] bltzr commented on #369
I believe that loadtimes might be dramatically increased with nested models, mutliple devices, etc…

could you cook us this kind of test patcher for testing purposes, @jln- ?

[2018-02-13 09:15] bltzr commented on #368
@jln- do you know if that has ever worked ? could you test with old builds ? then I can setup the bisect thing from that on...

[2018-02-13 09:19] avilleret commented on #369
sorry I should have been more clear...
as @bltzr said, only one patcher with only one leaf and only ossia object should be fast.

What makes things slower are :
  - the number of objects in a patcher (since currently we iterate over all of them)
  - the ramification ratio : the more there are patchers, bpatchers, poly~ containing ossia object the slowest it would be to register

[2018-02-13 09:49] jln- commented on #368
Not sure if I tested it with list type. Maybe did I test with vec3f ?

I just tested with the release from 14th october (b7) and the `set` is not yet implemented with type list (or vec3f). Next Mac release goes to b12 where I get the same broken result as reported here.

Not sure it helps...

[2018-02-13 09:59] bltzr commented on #368
I think it helps, because that seems to point to the fact that this never worked at all

thanks !

[2018-02-14 15:27] avilleret commented on #105
could we close this @bltzr ?

[2018-02-14 16:24] bltzr commented on #105
but, was what @jcelerier proposed above implemented ?
[code]
 I couldn't find it in the code...

[2018-02-14 16:45] avilleret commented on #105
here : https://github.com/OSSIA/libossia/blob/master/OSSIA/ossia-pd/src/object_base.cpp#L216-L219

[2018-02-14 16:45] #105 closed

[2018-02-14 20:46] bltzr commented on #105
OK, great, and that's implemented in Max too, I guess ?

[2018-02-14 20:47] bltzr commented on #105
yup: https://github.com/OSSIA/libossia/blob/496777e8e3ee2dc49061c50de2dff62b826bb116/OSSIA/ossia-max/src/object_base.cpp#L221

[2018-02-15 10:08] bltzr opened #370 "[pd/max] rework initialization routine"
e.g. after loadbang
so that:
- nodes can be scanned once and not several time
- default values can be sent in priority order
and much more...

[2018-02-15 10:08] bltzr commented on #370
related to #369 #366

[2018-02-15 21:02] avilleret opened #371 "[ossia-pd/max] add 'reset' message to ossia object"

[2018-02-16 20:03] avilleret commented on #367
Pd might be affected too

[2018-02-17 17:53] avilleret opened #372 "[ossia-pd] crashes when more than 1 oscquery client connected"
to reproduce :
- open https://github.com/OSSIA/libossia/blob/master/OSSIA/ossia-pd/examples/device-example.pd
- open https://github.com/OSSIA/libossia/blob/master/OSSIA/ossia-pd/examples/client-example.pd
- open https://github.com/OSSIA/libossia/blob/master/OSSIA/ossia-pd/examples/client-example.html

on the web page, change the modgain parameter
then change it on client patcher
kaboum !
crash wit

[2018-02-18 20:41] avilleret opened #373 "[ossia-pd] minor issue on double clicking on remote object"
double clicking on a remote object open the patcher containing its binded param
and the ø.param is selected,
but the object is not deselected after one second while it should

[2018-02-18 21:01] avilleret opened #374 "documentation / example / web / dat.gui example : make nested node dynamically"
dat.gui interface can reflect object's value change with the `listen()` method.
Then we need to dynamically build an object that reflect the namespace, with nested object.
Then we need to iterate over this big object to update object value when we receive a new oscquery message.
The later is harder than the former.
Any hint is welcome :-)

[2018-02-23 10:40] #274 closed

[2018-02-28 09:59] umlaeute opened #375 "bogus deken filenames"
i see two recent uploads to deken, which have weird names:

this has an actual version that starts with `v`, which will always sort after numbers. so it will appear on top of (e.g.) version *2.0* of ossia (if you get the version string right again: `ossia-v2.0-...`)

if you want an empty version, you should omit the version part entirely.

also, i don't think that `W32` is a recognized architectur

[2018-02-28 10:03] umlaeute opened #376 "please don't use `l_ia64` for Linux/amd64"
`ia64` is really the itanium architecture, which you are most likely not supporting.

there's a bug in Pd, that uses the `ia64` extension for the `x86_64` architecture, but in order to fix that bug it shouldn't be used widespread.

so please use `pd_linux` for now.

[2018-03-01 22:27] avilleret commented on #376
ho sorry, I was mistaken
but then, there is no possibility to distinguish `x86_64` and `i386` architecture ?
I know the later would disappear in a not so far future, but I was dreaming one day of making a fat package for Linux that contains several arch.

[2018-03-01 22:30] avilleret commented on #375
thanks for reporting that

[2018-03-01 23:13] avilleret commented on #375
I renamed all the files for the 1.0.0-b18 release directly on puredata.info
and I updated the script that build and push package to Deken

[2018-03-01 23:38] #375 closed

[2018-03-01 23:38] #376 closed

[2018-03-02 16:29] umlaeute commented on #376
btw `.l_i386` as an extension for Linux/i386 is fine.
it's just that `l_ia64` is plain wrong.

also this really only matters if you want to ship packages that have both/multiple architectures (which afaict, you currently don't do)

[2018-03-04 23:20] avilleret commented on #369
@jcelerier could you try if your patcher loads more quickly now ?
it should be necessary to implement such a mechanism after the rework of registration
let me know

[2018-03-04 23:21] avilleret commented on #366
I think we can close this one, isn't @jln- ?

[2018-03-05 09:31] bltzr commented on #369
you meant: "it should NOT be necessary", didn't you ?

[2018-03-08 17:31] matcham opened #377 "[ossia-max] new parameter in a blank patcher do not work"
create a ossia.parameter in a blank patcher : it doesn't work (no output)

copy / paste code below in a new patcher

(!!! if you copy and "New From Clipboard" in Max : it works !!!!!)

<pre><code>
----------begin_max5_patcher----------
356.3ocuS1sSCCCCE95zmhHecYp+nNF7pfPSocViL0kTk3N5zzd2oIocLfxX
HM3lFEG6yI9yMGhXPotCs.+Q9SbF6PDi4C4BvF1yfshtpZg0mFnZ2VhFHNbT
iAsnhDjTqVZvJJHUVw7YIw7zE26VJRbeyxlkvedrNg

[2018-03-09 15:25] bltzr commented on #377
Hi Mathieu !

Is that with b18 ?

Because @avilleret recently entirely reworked the subscription system, so there might be some rough corners still…

The best way to avoid this for the future: make some tests. e.g. that check if a single parameter is created. That’s your best ally to have a robust implementation for the next iterations and avoid this kind of inconvenient

There shouldn’t be much c

[2018-03-09 16:10] matcham commented on #377
hey
issue still present with fresh build from latest sources (thanks Jln).
and in the one you sent.

[2018-03-09 16:40] matcham opened #378 "[ossia-max] parameter triggering dict query freeze Max (forever)"
(only when overdrive is enabled)
when a messages that trigs a dict query passes by a ossia.parameter, it can freeze Max forever.
When the same message comes from Max or passes thru a deferlow object, no problemo.
Looks like a scheduler issue... ?

<pre><code>
----------begin_max5_patcher----------
1099.3oc0YssjahCD8Y6uBJd1wCHC13jWxy6VakOfcS4RFZ6Qo.gWgvwSRk+
8na3KiMiz.Lyj4EQ4l1m18gS2pQ9miG4ut7.T468

[2018-03-10 14:32] avilleret commented on #377
+1 for making more test
and no need to add lots of exclamation mark, assigning issue is enough and markdown is fine for text formatting

[2018-03-12 10:12] avilleret commented on #378
this sounds like an overdrive side effect and I'm not sure can fix Max bugs with ossia-max.

[2018-03-16 16:26] jln- commented on #366
I think so. I assign this to myself and'll close it once I get a test patch made and setup.

[2018-03-19 11:02] jln- commented on #366
Working on a test patcher for this, I got surprised by how it actually works. So just checking whether my expectations (based on how it works in Jamoma IIRC) are wrong or if there's a problem before finishing test patcher. (I think my expectations are, but just checking in case)

I have the following namespace:

`
model /test_priorities
param /test_priorities/first @priority 3
param /test_prioriti

[2018-03-19 14:10] bltzr commented on #366
IMO this is behaving correctly

I modified the test patcher with the behavior I was actually expecting, and it is met

can we close the issue, @jln ?

<pre><code>
----------begin_max5_patcher----------
1888.3oc6as0iahCE94L+JP44YGgM22mZU24s9vpcakVoppHRvSF2R.D3LMY
p5+80XCIPvjXCNIsU4glQ0Neb746bwGNw962MY57zMnhoF+owmLlL462MYBa
nxAlT8+mLcU3lEwgEru1zDz2Rm+ko2ymhf1PXCmkiSHFu8ce3iu880SlrdEN
IFQX.A6GLcModTy

[2018-03-19 22:16] avilleret commented on #366
yes this is the expected behavior, and you're right, priorities are checked level by level : subby.first (10), first (3), second (2) then third (1). But each level enumerates its children recursively, that's why you've got `zzz`, `yyy` and `xxx` before `first` itself.

For me this makes sense because if you have several instance of the same model, then you can control the init order by just changi

[2018-03-19 23:21] jln- commented on #366
Yes, this makes perfect sense and it's fine as is. Not sure why I got my mind confused, but just wanted to make sure before committing maxtest patcher.

Will do tomorrow and close the issue when done.

[2018-03-20 11:24] jln- opened #379 "parameter of type list is broken if list starts with a symbol"
As reported by @ktatar on Gitter:

[2018-03-20 11:26] avilleret commented on #379
is it related to #368 ?

[2018-03-20 12:12] jln- commented on #379
After further investigation, it is most likely related to #368 . Renaming issue accordingly.

As shown below:
- if list contains ONLY floats or ints, list of any length works as expected ;
- if list contains a symbol, ossia.parameter only works if list contains 5 items or more (list of length <=4 are not output by param) ;
- if list starts with a symbol, ossia.parameter only work if list is 6 item

[2018-03-21 00:24] ktatar opened #380 "[ossia-max] max freezes when a view of a model is initiated with [bpatcher @name my_model @args model_idx]"
Hi all,
I can reproduce the following bug. Download these ossia model and view patches:
[ossia_xbox.zip](https://github.com/OSSIA/libossia/files/1831678/ossia_xbox.zip)
Put the folder somewhere in the max file paths.
To reproduce the bug, create [ossia_xbox.model xbox], then create [bpatcher @name ossia_xbox.view @args xbox]

[2018-03-22 18:13] jln- commented on #355
Ok, digging this one as I was getting back at this patch.

In fact, the problem is not at all related to the pattr-remote loop in the patch above. Simply sending the remote output back to its input using the set message makes this weird 1 time out of 2 behavior.

I guess the problem is related to the recently reported issue with type view (ie #368 and #379)

See patch below

<pre><code>
----------

[2018-03-23 14:25] avilleret commented on #380
thanks for the report, does it happen only with bpatcher ? i.e. if you load the same patcher in as an abstraction instead, does it work ?

anyway, I experienced such an issue on Pd, I'm gonna to fix it this afternoon.
Hopefully this will fix this one in the same shot :-)

[2018-03-25 13:59] jln- opened #381 "[ossia-max] scripting a model cause ALL models to reinitialize"
When creating a model via scripting, all models in patcher get reinitialized. This does not happen when creating a model "by hand".

I think it's fine that the scripted model get initialized but models already in the patcher should not get initialized again.

At least, in my case, it makes my patch go https://media.giphy.com/media/Eb4HAUeQrq608/giphy.gif as I have a model with a parameter that scr

[2018-03-25 14:08] jln- opened #382 "[ossia-pd][ossia-max] ossia.model outputs absolute addresses when asked for namespace"
Sending the message 'namespace' to ossia.model causes output of all parameters' address in the model as absolute addresses.

It would be handy (and consistent with ossia.device) if addresses were output as relative addresses (no leading slash).

[2018-03-25 14:25] jln- commented on #381
[scripting_bug.zip](https://github.com/OSSIA/libossia/files/1845397/scripting_bug.zip)

Strangely, I can replicate the behavior with this patcher of mine only if main patcher as an ossia.device in it. If no ossia.device is present, model does not get initialized again (expected behavior).

[2018-03-25 17:13] jln- opened #383 "[ossia-max] views under an ossia.device reset when nodes are created"
(related to #381 ?)

When placed in a patch containing an ossia.device, remotes (binding to parameter without a default value) output zero when some nodes are created in the patcher.

See attached patcher. Set some values using the remotes then click on the message to script a new model in patcher.

=> Remote send zero. parameters in model are still holding their previously set state.

Note that t

[2018-03-26 08:51] jln- opened #384 "[ossia-max] remotes output wrong address after number of instances changed"
Assuming a model with several instances of a parameter (ie. `source.n/position`) that are declared dynamically, remotes binding to the parameter, either with full address (ie. `source.1/position`) or pattern matching (ie. `source!/position`) output a wrong address (in that case `position` - stripping the `source.n/` part) once the number of instances got changed in the model.

Using the test patch

[2018-03-26 23:38] avilleret opened #385 "[ossia-pd] changing [ø.remote] address (by pathcer editing) takes too long in a big patcher"
the [ø.remote] is in a  subpatcher (not an abstraction)

note to myself : this happen in sur_sur_nature_08.pd

[2018-03-30 17:38] ktatar commented on #380
I just tested. Yes, it also happens when I initiate the view as an abstraction.

[2018-03-30 18:38] jln- commented on #380
I quickly gave it a look and it seems something weird going on with nodes object. It seems there is a feedback loop although nodes should not output anything when using setnode message. 

[2018-04-03 16:04] #385 closed

[2018-04-03 20:08] avilleret commented on #380
I thought this was related to https://github.com/OSSIA/libossia/issues/385 but it seems to be a little more complex

[2018-04-03 20:28] avilleret commented on #382
it seems to be relative addresses with leading slash in ossia-pd, is it the same in ossia-max ?

[2018-04-03 21:02] avilleret commented on #382
should  be fixed in 07ce184f33f000112cf6cd5eccba9ec5b6ca5526
could you try  @jln- ?

[2018-04-03 21:06] avilleret commented on #381
hum... another Max' strange behavior...
my guess is that scripted object received a loadbang while 'created by hand' ones doesn't

[2018-04-04 09:30] avilleret commented on #380
could anyone check if f8db61392e904255325ed2b783b121d450e853c8 fix this ? @jln- or @ktatar or even @bltzr  ?

[2018-04-04 14:04] bltzr commented on #384
the problem doesn't seem to be happening in pd, I'm attaching @jln- 's patcher ported to pd

(though, we can notice that each message is output twice, which is probably unrelated)

[bug384.pd.zip](https://github.com/OSSIA/libossia/files/1876064/bug384.pd.zip)

[2018-04-06 05:27] #368 closed

[2018-04-06 15:17] bltzr opened #386 "[ossia-cpp] set_min() and set_max() do not work"
No notice, and the values are set to 0

tested with get_min() and remotely (with score)

[2018-04-09 15:33] jln- commented on #379
Great, thanks !!

[2018-04-09 15:53] jln- commented on #380
It does not but dont think it should. Problem is apparently related to Max's [nodes] object that causes a feedback loop and not so much caused by Ossia. In the view patcher, if I disconnect outputs of analog1-x, analog1-y, and analog2-x & analog2-y going to [nodes] input, I dont get a Max's hang. So I guess [nodes] is the culprit here.

[2018-04-09 16:02] jln- commented on #381
This seems to be fixed as I cant reproduce the problem anymore. Do you fixed this @avilleret or is it a side effect of another fix ?

[2018-04-09 16:05] jln- commented on #382
it is ! Thanks @avilleret !

[2018-04-09 16:06] jln- commented on #382
@matcham -> Note that this got fixed and that cue_manager will need to be updated accordingly

[2018-04-09 16:06] #382 closed

[2018-04-09 16:12] jln- commented on #383
This seems to be fixed. Could not reproduce anymore using fresh build

[2018-04-09 16:15] bltzr commented on #378
@matcham : @jln- told me you had another problem with overdrive - could you please explain how to reproduce it ?

[2018-04-09 18:50] matcham commented on #378
I just noticed that my big patch randomly freeze if overdrive is on (no need to uzi a dict )
ossia.parameter is just not compatible with overdrive. I've managed to live without overdrive until now, but it remains a real problem, and don't know how we will deal with that the day someone will want to do accurate timing in Max...

[2018-04-10 08:59] bltzr commented on #378
Hi @matcham yes, Overdrive is widely used in Max, and thus at some point we should fix that to support it (but that requires quite a bit of work)

As a memento, here’s what @jcelerier said about it on gitter:

@jcelerier Apr 04 16:36

est-ce que du coup il ne faudrait pas s'assurer que tous les évènements ossia soient dans la même "catégorie" pour pas qu'il n'y ait de pb ?
(et s'assurer que les me

[2018-04-10 09:54] jcelerier commented on #378
I tried to look into it this morning, and noticed indeed the problem of @matcham, starting at 3000 messages (it works fine at 2000). The weird thing is that when debugging, the stack trace didn't seem to pass through ossia objects when stuck

[2018-04-10 20:34] avilleret commented on #381
there where a bug in the loadbang routine that I fixed few days ago, it might fix this one as well

[2018-04-10 20:34] #381 closed

[2018-04-10 20:35] avilleret commented on #380
ok so if it's not related to OSSIA, I mark it as`wontfix` and close the issue, thanks for the test

[2018-04-10 20:35] #380 closed

[2018-04-11 17:40] bltzr commented on #378
strangely enough, I just tried your example patcher with overdrive on (audio on and off) and it didn't freeze.... no conclusion on this, just noticing

[2018-04-11 17:58] jcelerier commented on #378
I wasn't on the last commit, so maybe disregard my message :p

[2018-04-11 20:24] jln- commented on #328
I could not make it crash.

@matcham : I'll get you a fresh build. If you can test it works ok then we can close the issue, I guess.

[2018-04-11 20:59] jln- commented on #255
Looks good to me. @matcham : Wanna check so we can remove it from tasks before release ?

[2018-04-11 21:03] avilleret commented on #180
I thought I fixed this a while ago, can you confirm @bltzr @matcham  or @jln- and update issue accordingly ?
thanks

[2018-04-11 21:28] jln- commented on #180
Just went thru all attributes. All works fine both way (set from param attrui -> reflected to ossia.attribute attrui or the other way around), except:

- `recall_safe`
- `queue_length`
- `mute`

Actually, `mute` is not sent at all to parameter when set from ossia.attribute

- `unit` half works. It's ok when set from the parameter attrui (ossia.attribute properly reflects the change), but NOT ok wh

[2018-04-11 21:45] jln- opened #387 "[ossia-max] add new maxtest for remotely set parameter attributes"
For testing https://github.com/OSSIA/libossia/issues/180#issuecomment-380594942

Maxtest should test all attributes for all parameter types

[2018-04-12 07:49] bltzr commented on #180
That’s perfectly normal, since mute is local to the remote or parameter (it allows to mute the actual max object, not the ossia parameter)

Isn’t that documented in the help patcher ? I thought it was...

[2018-04-12 10:13] jln- commented on #180
Well, I know `mute` is local to parameter and remote. While it is fine and useful for remote, is it really for ossia.attribute ? I was expecting ossia.attribute to be just an interface to remotely get/set all attributes value with no other embeded feature. KISS.

But if it is not broken as of today's design, then fine. This is not release-critical.

[2018-04-12 10:15] bltzr commented on #180
oh, yeah, sure, I missed the part when you said it was about ossia.attribute
What should it do, then ? Reflect the state of the mute attribute of the bound ossia.parameter ?
I’m not sure that’s an easy one, though, @avilleret is the one who knows
If it’s not, I guess we should drop it from ossia.attribute

agreed

[2018-04-12 10:39] jln- commented on #180
That was my expectation, yes and what I feel would be desirable user-wise.

Unless changing this is a snap (but indeed IIRC some previous discussions, it's not), my feeling is we could leave this as it for now (or hide this exception) and keep this kind of refinement for an updated package release.

[2018-04-12 11:27] jln- commented on #371
This seems to be implemented and working in ossia-max.

Is it ok in Pd ?

[2018-04-12 11:37] jln- commented on #367
Fixed in ossia-max.

Need testing in ossia-pd ?

[2018-04-12 11:38] #365 closed

[2018-04-12 11:56] #364 closed

[2018-04-12 12:10] jln- opened #388 "[ossia-max] Client patcher crash on launch on remote registration"
I get an instant Max crash when opening "distant_client" patcher.

If I remove the bpatcher view from the patch, "distant_client" opens fine.

Crash log below:

`
Process:               Max [18107]
Path:                  /Applications/Max.app/Contents/MacOS/Max
Identifier:            com.cycling74.Max
Version:               7.3.5 [be88c5a] (7.3.5)
Code Type:             X86 (Native)
Parent Process

[2018-04-12 15:58] jln- commented on #388
Changed title as the problem seems more related to registration of remote sitting next to an `ossia.client`.

See patch below containing only an `ossia.client`. Steps:

- open from clipboard
- properly rename the boggus remote
-> everything's fine
- save patcher, close & open again
-> Crash

<pre><code>
----------begin_max5_patcher----------
256.3ocqOFraCBCDD8r8Wg0dlh.ZAh5uRUTjgrs0HvFYaRHJJ+6AulnF

[2018-04-13 21:42] jln- opened #389 "[ossia-max] ossia.client crashes Max when connect message is sent twice"
I get a crash when sending twice a connect message to ossia.client.

Steps to reproduce:
- create new patcher
- create ossia.client object
- send message `connect` (ie `connect osc 127.0.0.1 6666 9999`)
- send message again

-> Max crash with crash log below:

[code]

[2018-04-14 00:28] avilleret opened #390 "[ossia-pd][ossia-max] make use of oscquery onClientConnected callback"
does the same for disconnection and other protocols

[2018-04-23 17:00] avilleret opened #391 "[ossia-cpp] add helper function like `list_all_child`"
this function is helpful at least for debugging
some other could be also wrapped

[2018-04-23 17:29] bltzr commented on #391
shouldn't it be call list_all_children, instead ?

[2018-04-23 18:01] jln- commented on #391
I'd say may_i_ask_shall_you_list_all_children_please

[2018-04-24 14:39] jcelerier commented on #34
it's now possible

[2018-04-24 14:39] #34 closed

[2018-04-24 14:41] jcelerier commented on #33
I guess the current behaviour is ok for everyone ?

[2018-04-24 14:41] #33 closed

[2018-04-24 14:42] #77 closed

[2018-04-24 14:44] jcelerier commented on #158
done

[2018-04-24 14:44] #158 closed

[2018-04-24 14:44] #82 closed

[2018-04-24 21:50] avilleret opened #392 "generate ossiaConfig.cmake file to help including in cmake project"
we need
https://github.com/OSSIA/libossia/blob/master/CMake/ossiaConfig.cmake.in
cf https://cmake.org/cmake/help/git-master/manual/cmake-packages.7.html#creating-a-package-configuration-file

then we should use `find_package(ossia 1.0 REQUIRED)` and `target_link_libraries(myapp ossia)`  in Cmake project

[2018-04-24 22:04] avilleret opened #393 "[ossia-cpp] opp::node::find_child(addr) when there is no child"

[2018-04-25 05:09] avilleret commented on #391
finally I choosse `get_namespace`

see ef925b861a1137800e4a4fbb8dfdaaee5761acda

[2018-04-25 05:09] #391 closed

[2018-04-25 08:35] bltzr commented on #33
yep

[2018-04-25 13:24] avilleret opened #394 "[ossia-cpp] auto refresh oscquerry_mirror on connection"
thus the device is already populated right after the connection

[2018-05-13 10:32] #386 closed

[2018-05-14 09:43] bltzr commented on #386
Thanks, that works !

Though, brackets are still missing for single values, e.g. in the OSCQuery JSON:
- from my ossia-cpp app:
[code]
- from VVOSCQueryServer:
[code]

The spec example shows brackets,  and the spec tells that:

So I guess we need brackets, as they are the JSON marker for an array, aren't they ?

Should I open a separate issue for that ?

[2018-05-14 09:45] jcelerier commented on #386
yes please !

[2018-05-14 10:02] bltzr opened #395 "brackets are missing for single values in the OSCQuery JSON"
as mentioned in #386

brackets are still missing for single values in the OSCQuery JSON:

from my ossia-cpp app:
"size" : {
          "ACCESS" : 3,
          "FULL_PATH" : "\/renderer\/size",
          "RANGE" : {
            "MAX" : 100,
            "MIN" : 0
          },
          "TYPE" : "f",
          "VALUE" : 28.571399688720703
        }
from VVOSCQueryServer:
        "my_float" : {

[2018-05-14 10:02] bltzr commented on #386
done!

[2018-05-18 15:15] bltzr opened #396 "[ossia-cpp] oscquery-server crashes when a device with the default ports is present"
the title more or less says it all

that's, of course, when the one we try to instantiate has non-default ports

to reproduce:
- run an ossia app with default ports (e.g. Max's OSSIA overview)
- run an ossia-cpp app with non-default ports (ofxOscQuery example, or the CPP98 tutorial, with custom ports)
and the latter should crash at startup

the error messages are (from ofxOscQuery example):
[code]

[2018-05-23 12:55] jln- commented on #388
@avilleret @bltzr @jcelerier Following this morning discussion, this one is fixed indeed. Closing issue.

[2018-05-23 12:55] #388 closed

[2018-05-23 13:33] bltzr commented on #388
could you try to open score/Examples/Max/score-client.maxpat (with score.app opened)

here, it crashes, does it for you, too ?

[2018-05-23 13:55] jln- commented on #388
Indeed. It briefly works then crashes. crashlog attached.

https://gist.github.com/jln-/80b6d04e73aaa2bd7ec2fdc503cf89ad

[2018-05-29 09:45] avilleret opened #397 "feature request : add support for some IoT protocol"
some of them are listed here : https://www.postscapes.com/internet-of-things-protocols/

[2018-05-29 09:47] jcelerier commented on #397
see also

* https://github.com/OSSIA/libossia/issues/85
* https://github.com/OSSIA/libossia/issues/83

which are maybe related a bit ?

[2018-05-29 09:55] avilleret commented on #397
absolutely, so it makes more sense for me to dig into protocol things to understand how to implement new ones

[2018-06-11 08:57] aklevy opened #398 "unity3d Value.ConvertString() crash"

[2018-06-15 21:50] avilleret opened #399 "lack of boost header when installing"
`install` target copy all needed library header to include libossia in another project but the boost header.

Since boost is hude, this is nice to not include all of them, but the needed one would be great.

I note that those one are needed :

- container/small_vector.h
- container/smart_vector.h
- functional/hash.hpp
- any.hpp

A boost dir with only those header (and the others that are included)

[2018-06-15 22:11] avilleret commented on #399
when building this at install step, one caveat is to get a working `bcp` binary
since we're downloading boost's source, we ought to build `bcp` ourselves

[2018-06-16 17:14] bltzr opened #400 "[ossia-max] refresh namespace when sending the [namespace] message"
sending the [namespace] message should do the same than when doing "refresh namespace" in score, i.e. it's not possible to do what's demonstrated in https://github.com/OSSIA/score/issues/682#issuecomment-397826277

[2018-06-18 13:42] aklevy opened #401 "[ossia-unity] crash with the boolean "loadPresetOnStart""
When the boolean "loadPresetOnStart" from the script 'PresetController.cs' is true and the button "Load Preset" is pressed on Play Mode, Unity crashes
[unity-libossia-crash.txt](https://github.com/OSSIA/libossia/files/2111451/unity-libossia-crash.txt)

[2018-06-20 08:15] bltzr opened #402 "[ossia-max] ossia.client tries to connect to default port when proving with remote device's name as argument"
when trying to automatically connect ossia.client to a remote device by providing it with the remote's name as argument, it tries to connect with default port (5678) even though the target device has another port number

e.g. we get this error message in the Max window:
[code]
while the scanning reported e.g.:
[code]

[2018-06-20 17:27] bltzr opened #403 "add a new type "tuple""
as discussed in https://github.com/OSSIA/score/issues/356 that would allow to have a predictable set of members to the list, with predetermined  types for each of them, and a fixed number and order

which would imply separating the current ```list``` type into 2 different types:

- ```list``` : would stay the same, i.e. just a bucket for putting whatever one likes into it (just like the ```generic

[2018-06-26 11:29] bltzr commented on #90
BTW, has anybody already used this conversion at all ?

[2018-06-26 15:25] jln- commented on #90
Well added to my confusion is probably more that the unit conversion is broken on remotes in libossia-max.

Given a position parameter with unit.cart3D, sending a clockwise rotation to a remote with unit spherical, is sent and converted as expected to the parameter but the remote outputs a 90° shift forwarded and anti-clockwise rotation.

<pre><code>
----------begin_max5_patcher----------
943.3oc2

[2018-06-26 19:48] bltzr commented on #90
OK, so only the output of the remote is wrong, right ?

For this dataspace only ?

[2018-06-27 21:50] jln- commented on #90
Well, not sure what is wrong here. Remote output is wrong in some cases, not in others.

With some other units (e.g speed, time) remotes properly output value when value is sent from parameter but do not output *at all* when value is sent at the remote input...

<pre><code>
----------begin_max5_patcher----------
4307.3oc6c0siqhbD95YdJPVmKm0a+OcmKhRhVonnnnbUTtX2nQXalYXO1fC
fm8b1n8cJOC4IK.ciM3w1T1LM

[2018-07-21 13:01] bltzr commented on #395
as reported on http://forum.ossia.io/t/issue-in-oscquery-implementation/77 this apparently breaks compatibility with other OSCquery implementations, which is a bit of a pity

would you have the time to have a look into it @jcelerier ?

I believe there was an issue with RANGE as well, isn't it ?

[2018-07-21 13:42] mattbeghin commented on #395
I tried to control MadMapper (version 3.3) with Score and all values non array values have value "0" (rgba colours are ok for instance) because of this issue. It's easy to support both notations so you keep compatibilty with existing projects.

[2018-07-25 08:14] bltzr commented on #270
now it only contains only CMake files

this is also the case for the dynamic and the unity-3d releases

[2018-07-25 10:06] avilleret opened #405 "[ossia-cpp] add opp::node::parent() method to get node's parent"

[2018-07-25 16:11] jcelerier commented on #64
done by @aliefhooghe in https://github.com/OSSIA/libossia/pull/404 !

[2018-07-25 16:11] #64 closed

[2018-07-26 09:42] avilleret opened #406 "arm release fail because of outdated gcc version on Raspbian image"
TODO : make a new image with gcc-7, upload it and update script

[2018-07-26 09:42] avilleret opened #407 "ossia dll are missing in unity3D windows build"

[2018-07-26 09:44] avilleret opened #408 "unity3d package for linux contains build artifacts"
archive contains build folder artifact (which is interesting for debugging but not for deploying...)

[2018-07-26 09:46] avilleret opened #409 "ossia-qml package for linux contains only an empty Ossia directory"

[2018-07-26 19:35] jcelerier commented on #308
done for a long time

[2018-07-26 19:35] #308 closed

[2018-07-26 19:40] jcelerier commented on #240
not relevant anymore

[2018-07-26 19:40] #240 closed

[2018-07-30 16:53] jcelerier commented on #395
hmm, I thought that this proposal had been merged but it looks like it's not the case: https://github.com/Vidvox/OSCQueryProposal/issues/35

[2018-07-30 18:18] #395 closed

[2018-07-31 07:31] avilleret opened #410 "missing windows package"
at least ossia-max have not been released

[2018-07-31 09:24] #389 closed, assigned to nobody

[2018-07-31 10:12] jcelerier commented on #43
@aliefhooghe if you feel like it when you're back from vacations... :p

[2018-07-31 10:17] bltzr commented on #43
oh yes, that would be SOOOOOO nice !

[2018-07-31 11:07] jln- commented on #367
Maybe @bltzr would you mind checking in Pd ?

That being said, as it is now, remotes binding to a parameter of type list with no default value output nothing.

remotes binding to a parameter of type float with no default value output '0.'

Both parameters output nothing. I think it is not critical for now but maybe at some point we'd have to think about something consistant between types and param

[2018-07-31 11:15] bltzr commented on #367
don't they output an empty list, instead (since there's a set message)

concerning the parameters, I think they should output the default default value:
- 0. for floats
- empty list (even though I don't know if there's such a thing in Max) for lists

would that make sense ?

I'll try to have a look at pd, but I haven't reinstalled it yet, since my recent clean OS install, so I might forget... or m

[2018-07-31 11:28] jln- commented on #328
Cannot make it crash and it seems to work fine hence removing 'release critical' label.

[2018-07-31 14:44] avilleret commented on #371
iirc it's fine in Pd also

[2018-07-31 14:44] #371 closed

[2018-08-03 12:16] avilleret opened #411 "libossia-native-win64 contains too much artifact"
it should only contains dev files for building third party app with libossia with debug lib

[2018-08-03 12:27] bltzr opened #412 "remove extraneous braces from vecnfs when publishing them on OSCQuery"
currently, this how they look:
[code]
while they should look like this:
[code]

[2018-08-03 12:40] bltzr commented on #412
from what I see in score, there might be the same problem affecting the VALUES attribute

<img width="111" alt="image" src="https://user-images.githubusercontent.com/113982/43643306-34593cac-972b-11e8-9c91-22804709ff10.png">

[2018-08-03 16:56] bltzr opened #413 "setting bounding_mode breaks communication with score"
I have experienced this while developping ofxOscQuery: as soon as I'm setting a bounding_mode, I'm losing all communication between my node/parameter and score

I also tried in (a freshly built) ossia-max and experienced the same thing. Steps to reproduce:
- open OSSIA overview from the Extras menu
- go to "namespace exploration tab", add the patcher as a score device
- play with [ossia.remote voi

[2018-08-03 18:45] avilleret opened #414 "rename windows debug lib"
Windows wants a 'd'

ossia.dll -> ossiad.dll or ossia_d.dll

[2018-08-04 09:08] bltzr commented on #413
this doesn't seem to happen anymore this morning so I'm closing the issue - weird

[2018-08-04 09:08] #413 closed

[2018-08-04 09:26] jcelerier commented on #412
also default values aren't correct

[2018-08-04 18:07] #412 closed

[2018-08-04 20:48] jln- commented on #342
Cant reproduce. Closing issue

[2018-08-04 20:48] #342 closed

[2018-08-04 21:01] jln- opened #415 "[ossia-max] models inside poly~ do not reset when changing number of voices"
See attached patch

[poly_init_bug.zip](https://github.com/OSSIA/libossia/files/2259803/poly_init_bug.zip)

[2018-08-04 21:17] jln- commented on #367
Not sure I totally follow you: in any case remote and parameter should both output something, right ? (and the same thing)

I bet outputting an empty list will cause troubles in some patch.

I think that default list value could be anything - if I decide when building a model NOT to set a default list value, chances are that when I'll use that model in a use case, this default value fitting what I

[2018-08-06 10:47] #411 closed

[2018-08-06 10:47] #414 closed

[2018-08-06 14:04] bltzr opened #416 "ossia apps hang while VVOSCQuery apps are open"
that's the case for:
- all tested ossia apps: score and other libossia-binding implementations (tested off and Max)
- and with all vidvox osc-query-compliant apps (VDMX5b8.7.0, MIDI OSCQuery Helper, OSCQuery Helper, OSCQuery Browser)

while a vidvox app is open, all ossia-apps hang at https://github.com/OSSIA/libossia/blob/15f33db5b0cf7b98315ea42a7df0f379e01c0204/OSSIA/ossia/network/oscquery/oscqu

[2018-08-06 14:26] bltzr opened #417 "rgba8 Colors should output and receive 32-bits "r" OSC type data"
currently, with this unit (only present in https://github.com/OSSIA/libossia/tree/feature/color_u-revamp for now), data is sent and received via OSC a vec4f (aka OSC type 'ffff' ) while marked as OSC type 'r'

obviously, this doesn't work (ie we cannot send data from OSCQuery Browser or Vezér)

we should, then, make a special (generic) case that, when receiving or emitting a type 'r' value (which

[2018-08-06 16:19] bltzr commented on #416
also, if I force-quit my app, it won't reopen until I quit the currently opened @VidVox apps if that helps

[2018-08-06 20:48] mrRay commented on #416
howdy-

sorry, no deep thoughts on this one- this is all that comes to mind:

- the VV OSCQuery apps support websockets for notification and bidirectional streaming- to the best of my knowledge, none of the other apps you listed support the optional websockets portion of the OSCQuery protocol (someone please correct me if i'm mistaken or that has since changed).  i don't know if this is a correlat

[2018-08-07 06:47] jcelerier commented on #392
see also https://github.com/pabloariasal/modern-cmake-sample/blob/master/libjsonutils/CMakeLists.txt#L68

[2018-08-07 15:54] bltzr commented on #412
depending on the outcome of https://github.com/Vidvox/OSCQueryProposal/issues/47
we should put back extra braces around the color values arrays

[2018-08-07 16:00] bltzr opened #418 "when publishing in OSC Query, UNIT and CLIPMODE fields should hold an array, not single values"
as defined in the specs @
https://github.com/Vidvox/OSCQueryProposal/blame/master/README.md#L93

(also implicitly mentioned in https://github.com/Vidvox/OSCQueryProposal/blame/master/README.md#L77 )

This is how we're doing it:
[code]
And this is how @mrRay does it:
[code]
So, one of both has to be wrong - I'm afraid it's us

[2018-08-07 16:04] jcelerier commented on #418
hmmm, for me, the unit field is for the whole address. Else it would mean that for instance, if you have a ossia.parameter of type `list` in max, you would have to set one unit per value - I'm pretty sure that this is not what you want.

[2018-08-07 16:07] bltzr commented on #416
that's a very sensible observation, thanks! we'll look into this

[2018-08-07 16:34] bltzr commented on #418
well, what I want is one thing, and what is agreed upon collectively in protocol specifications is another thing

so, concerning multi-dimensional units, this had already been addressed from there on: https://github.com/Vidvox/OSCQueryProposal/issues/14#issuecomment-62827040
I'm not sure a conclusion was reached... but decisions were taken, and those include having arrays for UNIT (and also for CL

[2018-08-07 16:38] jcelerier commented on #418
Well, the discussion there was not finished, maybe it should move here ? https://github.com/Vidvox/OSCQueryProposal/issues/38

[2018-08-07 16:40] bltzr commented on #418
yep, maybe, thanks for pointing towards this!

[2018-08-07 16:42] jcelerier commented on #418
I don't remember tuples ever being about this. Tuples are exactly like other parameters but it's not possible to, say, push a list of 5 elements and then another list of 7 elements.

[2018-08-07 16:44] jcelerier commented on #418
(it's already perfectly possible for lists today to have diffreent types, e.g. `[1, "foo", 'c', [2, 3, "blah"]]`)

[2018-08-07 16:54] bltzr commented on #418
no, sure, that's just my interpretation of what it could (mis-)used for... :-)

[2018-08-07 16:57] bltzr commented on #418
Well, sometimes, you have to let go with old stuff ! I could always use v1 for going on using my good ol' Jamoma patchers...

[2018-08-07 16:57] bltzr commented on #418
At least, for now, what I'm asking for is that we comply with the OSCQuery specs

[2018-08-07 17:00] bltzr commented on #418
yeah, but it's not really possible to define specific ranges and other attributes for each in score, yet

[2018-08-07 19:07] bltzr commented on #412
and maybe around all (at least all those with units), if my observation there shows up to be right: https://github.com/Vidvox/OSCQueryProposal/issues/38#issuecomment-411158778

(-> our implementation would have been right from start, without us even knowing that it was - maybe because it was just consistent)

[2018-08-08 20:26] bltzr opened #419 "error in OpenGL conversion ?"
compare:
https://github.com/OSSIA/libossia/blob/11a58827c6dcdd47d29d709455e52c851684d646/OSSIA/ossia/network/dataspace/position.hpp#L128
and
https://github.com/OSSIA/libossia/blob/11a58827c6dcdd47d29d709455e52c851684d646/OSSIA/ossia/network/dataspace/position.hpp#L134

is this normal that different members are inverted in both converted, @jcelerier ?

[2018-08-09 07:09] jcelerier commented on #419
I just followed this : https://github.com/jamoma/JamomaCore/blob/master/Foundation/extensions/DataspaceLib/source/PositionDataspace.cpp#L202 but this seems correct.

neutral is `[X, Y, Z]`, OpenGL (https://learnopengl.com/img/getting-started/coordinate_systems_right_handed.png) is `[X' = X, Y' = -Z, Z' = Y]` so the reverse is `[ X = X', Y = Z', Z = -Y']`

[2018-08-09 08:56] bltzr commented on #419
OK, fine!

I tried to mentally (well, with the help of my left hand's three fingers)?make the conversion, and that was too much for my overheated brain

So let's close this one, thanks!

[2018-08-09 08:56] #419 closed

[2018-08-09 09:06] jcelerier commented on #419
haha, well there's your problem, it should be done with the right hand

[2018-08-09 09:42] jcelerier opened #420 "MIDI: support MIDI-in-XML devices"
Spec is here : https://www.midi.org/specifications-old/item/midi-in-xml

There's also the format used by Mixxx : https://www.mixxx.org/wiki/doku.php/midi_controller_mapping_file_format which has a lot of existing mappings : https://github.com/mixxxdj/mixxx/tree/master/res/controllers

[2018-08-09 17:42] bltzr commented on #418
Depending on the outcome of the discussions on the OSCQuery repo, I'm not sure we need to refactor the whole internals of libossia, we could just change the way are published/parsed to/from OSCQuery JSON from.

In any case, and without consideration about actual implementation, I think that the specifications of OSCQuery are actually better thought out than those of Jamoma.
Actually, apart from th

[2018-08-09 17:54] bltzr commented on #417
I think I have completed the change of default value from ```argb``` to ```rgba8``` in https://github.com/OSSIA/libossia/tree/feature/color_u-revamp

Would you be able to check it @jcelerier ?
Are there tests we could run against this to make sure I didn't break anything ?

Also, now that a decision has been reached about the "r" question, as stated by Ray [here](url
https://github.com/Vidvox/OSCQ

[2018-08-09 18:00] bltzr commented on #416
do you have any idea what's happening here, @jcelerier ?

[2018-08-09 21:54] jcelerier commented on #417
- typetag.cpp:72 should become rgba8 instead of rgba
- typetag.cpp:148 should become rgba8 instead of rgba
- the complicated part: changing the types ossia::net::osc_outbound_visitor and ossia::oscquery::osc_outbound_visitor which write ossia::value in OSC messages (the difference between these two is that the first one has "strict OSC 1.0 required types" compliance, basically like Minuit with boo

[2018-08-10 08:27] bltzr commented on #417
typetag.cpp:148 should become rgba8 instead of rgba

that had been already done!

For the rest, I won't have the time today, but I'll look into it tomorrow

[2018-08-10 08:29] bltzr commented on #417
for the record, for tests:

CMake with -DOSSIA_TESTING=1 then ```make test```
or in qtcreator :
https://files.gitter.im/OSSIA/b235/tests.webm

[2018-08-10 10:37] avilleret opened #421 "preset with char is not loaded correctly"
see https://github.com/OSSIA/libossia/blob/master/Tests/Preset/PresetTest.cpp

[2018-08-10 10:38] avilleret opened #422 "preset with list with string is not loaded"
see https://github.com/OSSIA/libossia/blob/master/Tests/Preset/PresetTest.cpp

[2018-08-10 10:42] avilleret opened #423 "[ossia-cpp] parameter doesn't have value when set with set_float() method"
see https://github.com/OSSIA/libossia/blob/master/Tests/CPP/CPP98.cpp

[2018-08-10 16:38] blueyeti opened #424 "ossia-unity3d-win release do not contain dlls"
ossia-unity3d-win release do not contain dlls into plugins folder for x86 and x86_64

[2018-08-10 21:12] avilleret commented on #424
duplicate https://github.com/OSSIA/libossia/issues/407

[2018-08-10 21:12] #424 closed

[2018-08-10 22:43] avilleret commented on #423
[code]

output :

    0

[2018-08-10 22:44] #421 closed

[2018-08-10 23:03] avilleret opened #425 "[ossia-cpp] loading preset doesn't restore list"
see test

[2018-08-10 23:03] #423 closed

[2018-08-11 07:35] avilleret commented on #422
fixed with 88c938045de6be030a38985a3d8fff63acada9d0

[2018-08-11 07:35] #422 closed

[2018-08-11 07:57] avilleret opened #426 "-0. and 0. are invalid value in vec4f when reading json preset"
[code]

output :

[code]

replace '-0.' with '0.' and it does the same
replace with -0.42 or 0.42 and it works

[2018-08-11 08:43] #425 closed

[2018-08-11 08:43] avilleret commented on #426
seems to be fixed...

[2018-08-11 08:43] #426 closed

[2018-08-11 15:26] bltzr commented on #417
I have been as far as I could on that, only for the OSC protocol, for now.
 I haven't even begun with OSCQuery, because it seems slightly different: there's no ```val.apply(osc_outbound_visitor{...})```, it directly goes into a ```oscpack::MessageGenerator<oscquery::osc_outbound_visitor>```, but first things first

the (well at least, one of the) problem(s) seems to be that ```ossia::apply()``` do

[2018-08-12 21:32] jcelerier commented on #418
so, since the following text was added :

I guess that we can close it for now ? since clipmode / unit / etc are currently the same for all values

[2018-08-13 10:12] bltzr commented on #418
that would be something to think about for a v2 or something, but yeah, since Ray changed that, that's perfectly fine the way it is
should we close or apply a v2 label or something ? (or both ?)

[2018-08-15 14:59] bltzr commented on #340
is that still the case ?

[2018-08-15 15:00] bltzr commented on #235
is this issue stil unresolved ?

[2018-08-16 16:05] bltzr commented on #417
we should also remind to change the attribute values to the ```#FFFFFFFF``` format for:
- DEFAULT_VALUE
- RANGE
- VALUE

[2018-08-16 21:58] avilleret opened #428 "add ossia-cpp only release on Travis/Appveyor"
we need to cleanup installation process to not include all the headers in such a release

[2018-08-16 22:04] avilleret opened #429 "[ossia-cpp] add access to underlying impl"
without adding any dependency we could just add a forward declaration of impl and a getter for that

thus we can easily access feature that are not included in ossia-cpp yet without refactoring all the code with fast-cpp

[2018-08-18 14:36] bltzr commented on #417
I also investigated (without success) how to actually convert received "r" values to internal `rgba8_u` `vec4f`s, but we should not forget this either

[2018-08-18 15:48] bltzr commented on #417
if that helps in any way, here's what I did:
https://github.com/OSSIA/libossia/commit/91a6eeac303e54579ee0e20856ca23884a44208d

[2018-08-18 17:01] bltzr opened #430 "use HOST_INFO "name" value to name devices"
currently, it uses the zeroconf name, but it would be nicer to use the info provided by the HOST_INFO "name" field

this was first filed as https://github.com/OSSIA/score/issues/816 but I guess this belongs rather in libossia than in score, doesn't it ?

I'm marking this release-critical - it isn't really that *critical* but it could be nice to have this in the next OSC Query-compliant release

[2018-08-18 17:08] bltzr opened #431 "update OSC Query implementation for last version of specs"
since https://github.com/Vidvox/OSCQueryProposal/commit/ddb64be6378825e0a27c2c34550d18db2b4f32b6 our "units" are currently split into OSC Query's UNIT and EXTENDED_TYPE attributes, so we need to update this.

I have done this on https://github.com/bltzr/libossia/tree/feature/unit-xtype-split but not in the most skilful way (forgive my incompetence) nor in a complete way: the order of accessor can

[2018-08-19 15:44] bltzr opened #432 "[ossia-max/pd] Max/pd crashes when trying to connect to an existing device"
(or when trying to connect for the second time to a non-exisiting one)

this can be easily reproduced eg. with client-example.pd (and device-example.pd) in the examples folder

[2018-08-19 15:54] bltzr opened #433 "[ossia-cpp] device creation problem"
If understand correctly ossia-cpp98.cpp when declaring a new oscqueryserver (which I'm doing [here](https://github.com/bltzr/ofxOscQuery/blob/9b3c09cbd412215d6c8dbceade563699412d9ea8/example-singleServer/src/ofApp.h#L30), as this seems to be the usual way in of) an `oscquery_server` is declared with default ports, until (and if) it is assigned different ports
so, if there's another libossia implem

[2018-08-19 15:58] bltzr commented on #432
a few crash logs as requested by @avilleret
https://gist.github.com/bltzr/323ba405cc4d1cda5dd96cb15629c2d2
https://gist.github.com/bltzr/15fe68765de0d50ac3b408372ee5a53b
https://gist.github.com/bltzr/b222680436353f8b82453279c7efc84f
https://gist.github.com/bltzr/570408b92a4e524fec69bf3fe56927ad

[2018-08-23 18:35] jcelerier commented on #433
well that's the point. It's the responsibility of the application to choose if it wants to use another port, tell the user it cannot connect, etc... I don't think the lib is the right place to handle this. If you want to use another port just do a try / catch and retry with the same port +1 for instance

[2018-08-23 18:37] jcelerier commented on #430
no, since it's not the lib which gives a name to the device but the user of the lib - for instance one may want to give it another more precise name if the HOST_INFO name is not descriptive enough.

[2018-08-23 19:53] bltzr commented on #433
Good point!

I tried, thanks for catching it! ;-p

Pascal Baltazar

[2018-08-24 08:26] bltzr commented on #430
so this one could be closed, right ?

[2018-08-24 08:26] #430 closed

[2018-08-24 08:33] bltzr commented on #433
OK, so I guess this can be closed as well, doesn't it ?

maybe a more informative error could be useful, BTW, like "port:n is not available"... but this is managed by websocketpp, isn't it ?

[2018-08-24 08:33] #433 closed

[2018-08-24 13:43] jcelerier commented on #417
should be ok, please reopen if there are other problems

[2018-08-24 13:43] #417 closed

[2018-08-26 16:03] jcelerier commented on #431
should be in master now, please test

[2018-08-26 16:04] jcelerier commented on #418
let's close it and open another issue to think about the general redesign needed for this.

[2018-08-26 16:04] #418 closed

[2018-08-26 16:59] jcelerier commented on #396
the second issue can be ignored:

https://github.com/zaphoyd/websocketpp/issues/556

[2018-08-26 17:52] #396 closed

[2018-08-26 19:45] #408 closed

[2018-08-26 19:50] jcelerier commented on #270
it seems that this has been fixed

[2018-08-26 19:50] #270 closed

[2018-08-27 07:05] jcelerier commented on #409
should have been fixed

[2018-08-27 07:05] #409 closed

[2018-08-27 08:00] jcelerier opened #434 "[ossia-cpp] Error reporting"
Currently this api does not report errors and just tries to keep chugging along. Should it ? In which ways ? error codes, exceptions ?

[2018-08-27 09:44] jcelerier commented on #407
fixed

[2018-08-27 09:44] #407 closed

[2018-08-27 09:48] #405 closed

[2018-08-27 10:39] jcelerier commented on #340
just checked, it seems good here

[2018-08-27 10:39] #340 closed

[2018-08-27 14:54] #416 closed

[2018-08-28 16:39] jcelerier commented on #432
hmm I fiddled with client-example.pd and device-example.pd and everything seems to work fine (except the "dump" message should be "namespace" instead maybe in client-example.pd ? @avilleret ?)

[2018-08-28 17:02] jcelerier commented on #392
can be tested with a CMakeLists.txt that looks like this :

[code]

[2018-08-29 10:27] avilleret commented on #410
should be fixed now, waiting for a release to close it

[2018-09-01 20:03] bltzr commented on #431
seems OK now

[2018-09-01 20:03] #431 closed

[2018-09-03 11:07] matcham opened #435 "[ossia-max] ossia : crash when expose oscquery inside Max for Live device"
sending "expose oscquery" to ossia inside a Max for Live device crash Live.

here is the content of the M4L device :

<pre><code>
----------begin_max5_patcher----------
438.3ocmSssbBBCD8Y3qfIOScHJZk9Ves+Bcbbh3pFGHglDrXc7euIa.Kp8h
1WBjyd6rmcygv.xBYCnIQOE8ZTPvgvf.DxADzdOfTxZxKXZzMRIn0r0.I1ay
.MFDGZpjZHRpyeqFT66rWo.MHLLCWJlqfbiuVoCGjDGMZr6jRm59LzBEMqML
9RLoxEaeXTWpVIEFM+CvYg5h2CKpK4hBvfzaXOeErRzWxyJN

[2018-09-03 11:11] matcham opened #436 "[ossia-max] ossia.client : Unknown protocol: minuit"
send "connect Minuit 127.0.0.1 1234 9876" TO ossia.client returns error :

ossia.client: Unknown protocol: minuit

Minuit protocol not yet / no more implemented ?

[2018-09-03 11:11] bltzr commented on #435
which ossia-max version did you try that with ?

@jcelerier fixed things related to this recently, but maybe not this one in
particular ?

also, I believe Max/Live duplicate the patchers, so maybe that could be the
issue ? were you editing the patcher at that time ?

On Mon, Sep 3, 2018 at 1:08 PM Mathieu CHamagne <notifications@github.com>
wrote:

[2018-09-03 11:13] matcham commented on #435
ossia-max release v1.0.0-b22
only this device in Live
no Max opened

[2018-09-03 20:51] #436 closed

[2018-09-05 15:48] jcelerier opened #438 "[ossia-unity3d] windows x64 dll is missing from release"
x86 is here

[2018-09-05 15:50] jcelerier opened #439 "[ossia] 64 bit unity dll is present in libossia-native-win64"
also it's present in debug mode which I don't think is necessary

[2018-09-05 15:51] jcelerier opened #440 "[ossia-qml] ossia-qml-win64.zip has non-qml stuff"

[2018-09-05 15:53] jcelerier commented on #428
- [x] linux
- [x] macOS
- [ ] windows

[2018-09-05 15:57] jcelerier commented on #282
starts to look good, isn't it ?

[2018-09-05 16:06] bltzr commented on #282
well, I guess @jln- has the final decision on that one

maybe @matcham ’s opinion could be useful, too…

IIRC, there are still a few “release-critical” issues, I don’t know how critical they are, and if we should the release because of them

and… there’s the Overdrive issue, which we should look into some day (maybe as a part of the Canada project ?) - what should we do in the meantime ? put a dis

[2018-09-05 21:55] blueyeti commented on #282
For me the override problem is due to the first ("deferred") outlet of the ossia.remote objects. In one of my project I got a lot of CPU usage and crash due to the use of ossia.remote with continuous data, because of the defer process. The ossia.remote will defer the outlet even if the outlet is not used. In my case I solved it using setting the "deferset" attribute to 0.

[2018-09-05 22:30] #428 closed

[2018-09-05 22:30] #439 closed

[2018-09-05 22:30] #438 closed

[2018-09-05 22:30] #440 closed

[2018-09-06 07:36] matcham commented on #282
here is the simplest example I could find to reproduce the overdrive crash :
no remote, just a parameter connected to a jit.matrix + jit.gen

<pre><code>
----------begin_max5_patcher----------
1710.3oc0Z08aiaCC+4z+JB7qKWfj72CX.a6kALf8zdZ3vPfRhRh5jkLrU50
aGt+2m9v1QJw10IWZWuCnt9HkLI+QJRZ59kGlErV7LoNX9ON+iymM6KOLalg
jlvrl++rfB7yaX3ZyxB1HJJHbYvBKOI4Yog9OMeSEt9PKc9wBJmQjlMAaHVh
kaNP46WUQ1HsBMObIXwbXbh9

[2018-09-06 07:45] matcham opened #441 "[ossia-max] parameter : default value is not fired at object creation"
(issue in ossia-max v 1.0.0 ; did work fine in release from a couple of weeks ago)

open ossia.parameter.maxhelp
default value is not fired at loading
(sending reset DO works)

[2018-09-06 09:58] jcelerier commented on #282
thanks @blueyeti  @matcham ... hopefully it's something simple that we overlooked.

[2018-09-06 17:13] bltzr commented on #282
not sure that helps, but this doesn’t crash

did you only have those problems with jitter objects ?

I might be wrong, but isn’t it safer to defer messages to jit.objects ?
though, I tried with jit.qball… and it didn’t crash… and then it crashed (well, I had the deadly pizza of death, and force quit)

<pre><code>
----------begin_max5_patcher----------
1104.3ocyX0saqhCD9ZxSAha2rQfARBqzQ5rOGUqhLDGh6

[2018-09-06 20:44] avilleret opened #442 "disable test that require a disabled protocol"
for example on PdTest build on Travis, DeviceTest is build despite Midi Protocol is disabled

[2018-09-06 20:45] jcelerier commented on #442
maybe it's a missing ifdef ?  https://github.com/OSSIA/libossia/blob/master/Tests/Network/DeviceTest.cpp

[2018-09-07 10:05] jcelerier commented on #441
@jln- hmm maybe it should be in the doc or as a comment in the max patch ?

[2018-09-07 10:33] bltzr commented on #441
Huh, why is that a feature?

[2018-09-07 10:49] matcham commented on #441
seriously, it's a feature ?
help patch says "Parameters can be set a default value, fired at loading"
and it used to work this way until now. If you decided to change it recently, I would be curious to know what motivated this decision :-)

[2018-09-09 11:36] jln- commented on #441
Sorry guys, it was a joke (I'm just often annoyed by this default value firing).

Haven't check with lastest release yet but indeed default value get sent on loading with previous release. So if it's not the case now, indeed something broke.

[2018-09-09 11:44] bltzr commented on #441
could that be related to the change you did to fix #377 ?

[2018-09-09 11:44] bltzr commented on #441
@avilleret

[2018-09-10 13:02] #442 closed

[2018-09-10 13:43] avilleret commented on #432
@jcelerier yes `dump` has been renamed to `namespace` a while ago

[2018-09-13 12:59] avilleret commented on #235
I successfully loaded and tested ossia 1.0.1 under Win7 VM, so I close this issue

[2018-09-13 12:59] #235 closed

[2018-09-13 13:00] avilleret commented on #292
we have already moved to 1.0.1

[2018-09-13 13:00] #292 closed

[2018-09-14 20:04] avilleret commented on #250
I think this one is fixed now ?

[2018-09-14 20:06] avilleret opened #445 "[ossia-python] python2 throw TypeError: unicode argument without an encoding on __init__.py"
[code]

[2018-09-14 20:08] avilleret commented on #95
for the record, to definitely fix it, I use

[code]

in toolchain file, so that Cmake search for boost header on target sysroot and can't find it, then it search on host and find it in 3rdparty folder

[2018-09-14 20:09] avilleret commented on #406
this is done, with a brand new sysroot

[2018-09-14 20:09] #406 closed

[2018-09-14 20:11] avilleret commented on #399
headet set is now hosted on score SDK repo and downloaded at install step so I'm closing this one

[2018-09-14 20:11] #399 closed

[2018-09-14 20:13] avilleret commented on #323
is it done now @jln- ?

[2018-09-14 21:11] jcelerier commented on #43
https://open-fixture-library.org/

[2018-09-15 12:55] jln- commented on #441
@avilleret It seems to be OK, although I noticed sometimes not...

Could it just be that the namespace is not yet destroyed when reopening the maxhelp ? Or something like that.

![test_init 2018-09-15 14_53_53](https://user-images.githubusercontent.com/114325/45586400-39be3600-b8f7-11e8-89dc-eca16c3d750d.gif)

[2018-09-16 17:47] matcham commented on #441
for me, with latest release (1.0.1) : default value is never fired.
open ossia.parameter.maxhelp :
ossia.parameter my_loadmess @type float @default 1.23
do not output anything at loading

[2018-09-16 17:51] jln- commented on #441
@matcham I'll zip you version I built yesterday so you can test

[2018-09-16 17:55] matcham commented on #441
@jln- if you say that it doesn't work, I believe you :-)

[2018-09-16 18:06] jln- commented on #441
Well, most of the time it works... I did not see it not working but when intentionally opening/closing again and again.

[2018-09-17 21:11] avilleret commented on #441
according to https://github.com/OSSIA/libossia/blob/master/OSSIA/ossia-max/max-test/441-multi_load.maxtest.maxpat it's working

please improve the test patcher until it doesn't work again :-)

[2018-09-17 21:29] avilleret commented on #400
I'm sorry I don't understand what is not working and what you're expecting.

could you provide a patcher that demonstrate what is not working ?
and explain a little bit more what you're expecting

thanks

[2018-09-17 23:19] jln- commented on #415
Do you mean the 415-poly_reset.maxtest.maxpat ?

None of the tests in there passes here. Do they pass on your machine ?

And by the way, in my test patch above, after changing the number of voices of the poly~, the remotes in the model loose their connection to the parameter. I do not remember but I guess this was not the case before, was it ?

[2018-09-18 09:39] jcelerier commented on #43
https://github.com/Gregwar/ArtNet-Console/blob/master/artnetmanager.cpp provides a simple example of libartnet usage

[2018-09-18 12:04] aliefhooghe commented on #43
A Super, finalemnt il y a peut être moyen de faire quelque chose
rapidement alors !
Je suis en train de faire un CMakeLists pour build libartnet et
faciliter son integration dans Ossia.

Quoting Jean-Michaël Celerier <notifications@github.com>:

[2018-09-18 12:27] bltzr commented on #43
👍 💯 👍

[2018-09-19 07:08] avilleret commented on #415
yes

yes, all. less than 2 sec after opening the patcher, the toggle on the bottom of the patcher switches on
which means each instance in the poly~ have been correctly initialized

I think it was working before, and it still works fine here.
what's the build SHA you see in Max console after OSSIA library loading message ?

[2018-09-20 10:55] jln- commented on #384
Holy sh*t ! Thanks a bunch !

@avilleret président !

[2018-09-20 21:13] avilleret commented on #377
it works fine on a fresh opened Max
but, try again without restart and the problem occur

to reproduce :
- double click on 377-noloadbanged_initialization.maxtest.maxpat, Max open and patcher is loaded, object added and registered correctly
- close the patcher but keep Max open
- reopen the same patcher, object is added but not registered correctly

[2018-09-20 21:15] avilleret commented on #384
oops
I was too much enthusiastic
I just got a crash when opening `384-address_output_persistence.maxtest.maxpat`
more work is needed on this side

[2018-09-20 21:18] avilleret commented on #384
after double checking the crash might be related to #377 because it only crashes when reopening the patcher.
when opening it as the first patcher after Max launching it works fine

[2018-09-20 21:45] avilleret commented on #392
I got undefined symbol with the following :

[code]

[2018-09-21 07:28] jcelerier commented on #392
I don't understand, shouldn't the ossia-cpp release be used instead of

[2018-09-21 07:37] avilleret commented on #392
libossia-native is build with ossia-cpp support
and I got the same with https://github.com/OSSIA/libossia/releases/download/v1.0.1/libossia-cpp-linux_x86_64.tar.gz

I'm gonna test with local build

[2018-09-21 08:14] avilleret commented on #392
it works with a local build, so I'm closing this issue since it does work (but not the travis build)

[2018-09-21 08:14] #392 closed

[2018-09-21 12:28] matcham commented on #441
in latest release (v 1.0.1) : it (kind of) work on Mac (as @jln- described)
but it doesn't work at all in windows. (default value is never fired)

But maybe you already fixed it, so I'll wait for the next release (as I can't build myself..)
@avilleret or @jcelerier : if you have a fresh windows build, I can test it.

[2018-09-22 17:23] avilleret opened #447 "[ossia-max] crash when deleting node on registration value output"
pd might be affect too

test patcher is coming soon

[2018-09-24 14:56] jcelerier commented on #43
\o/ so artnet is there, now the next step is to support specific fixtures... but this is more of a score problem than a libossia problem I'd say.

[2018-09-24 14:56] #43 closed

[2018-09-24 21:52] avilleret commented on #447
should fixed for remote on ossia-max
need testing for other objects at least ossia.attribute
pd need also testing

[2018-10-09 17:17] jcelerier opened #449 "Midi CCs are off by one"

[2018-10-10 13:59] composingcap opened #450 "[max] Could not set TCP nodelay option"
This "Could not set TCP nodelay option" error is sent to the max window every time I change a parameter.  It happens on both mac and windows in Max 8.

[2018-10-10 14:08] jcelerier commented on #450
@avilleret normally this message should only happen when an oscquery device is created - if it happens on every parameter change it means that the device is recreated all the time, I guess this is not normal ?

[2018-10-10 14:23] composingcap commented on #450
It happens when I am connect to Score.  So, maybe it is an issue on the score end.

[2018-10-10 14:31] jcelerier commented on #450
the message can safely be ignored, it is nothing harmful (it just means that you could get a small network speed boost if you ran Max as an administrator) - I'll try to find a way to cut it in the logs though.

[2018-10-21 20:17] avilleret commented on #450
I got the same on Linux between an oscqiuery device (fast-cpp) and its mirror (safe-cpp)

[2018-10-21 20:20] avilleret opened #451 "[ossia-pd][ossia-max] check for parameter removing callback"
when one makes a mirror in pd or max of a device which delete some of its content,
mirrored tree should be updated accordingly
I bet it's not the case to now...

[2018-10-25 21:46] avilleret opened #452 "weird deletion/creation notification when adding a nested parameter"
when doing :

    auto node = serv.create_child("bar");
    node->create_parameter(ossia::val_type::STRING);
    auto nested = node->create_child("nested");
    nested->create_parameter(ossia::val_type::INT);

I got the following callbacks :

    create node : bar
    create parameter : bar
    create node : nested
    create parameter : nested
    remove parameter : nested
    create parameter :

[2018-10-25 21:48] avilleret opened #453 "removing a node doesn't work"
doing :

    root.remove_child("truc")

doesn't remove the node on the local tree

see OSCQueryTreeCallbackTest.cpp, test case test_oscquery_complex_node_creation_cb, step 3

[2018-10-29 20:50] blueyeti commented on #345
+1 to have an argument to the namespace message to get values sort by priority. I'm developing a preset system outside of ossia.device and I cannot get the parameters in the right order.

[2018-10-29 23:07] avilleret commented on #345
currently ossia preset are recalled in by priority order iirc
but I'll reopen this issue since it seems to be relevant

[2018-11-05 23:20] avilleret commented on #453
by default, when a remote is notified that a node have been removed on the device, it is marked as 'zombie'.
now there is an option (zombie_on_remove) to choose to really remove the node on the remote side
fixed in d5840a53002ab989aa953f13f606af4e5933a901

[2018-11-05 23:20] #453 closed

[2018-11-05 23:22] avilleret commented on #452
this is much better since e4c668b0b14596b0f4b482b6b22f817545ab5d71 (thanks @jcelerier !)
but there is still something wrong :
the callback seems to be sorted by name not by receiving order.
test updated in 381a0091aa63d2a6324859abf0ca31c4e78d8ea6

[2018-11-05 23:28] avilleret commented on #452
when doing (cf. https://github.com/OSSIA/libossia/blob/381a0091aa63d2a6324859abf0ca31c4e78d8ea6/Tests/Network/OSCQueryTreeCallbackTest.cpp#L190-L197) :

[code]

we got this :

[code]

the 'first' parameter creation callback comes juste after 'first' node creation while it should arrives after "second" parameter creation callback.

it works fine when updating client between each tree change (like h

[2018-11-27 09:36] avilleret opened #454 "add support for PATH_RENAMED"

[2018-12-04 15:19] avilleret opened #455 "[oscquery] remove optional `ACCESS` attribut when it's not specified"

[2018-12-05 18:18] #452 closed

[2018-12-06 08:51] avilleret commented on #434
maybe the simplest solution is to output error on std::cerr
someone who needs better error handling uses fast API

imho exceptions add a lot of verbosity to catch them and someone who is using opp in some creative coding environment doesn't want to bother with catching error, I guess.

what do you think @jcelerier

[2018-12-06 08:56] #410 closed

[2018-12-06 10:07] #394 closed

[2018-12-06 10:16] avilleret commented on #369
ping @jcelerier si tu sais retrouver ton patch qui mettait 5 minutes à charger, je ne l'ai plus :-)

[2018-12-06 10:21] avilleret commented on #400
ping @bltzr could you explain a little bit more ?

[2018-12-06 10:22] #429 closed

[2018-12-06 10:22] #455 closed

[2018-12-06 14:16] jcelerier commented on #449
yep: basically you can't send a CC message to the first CC of a midi device

[2018-12-06 14:17] jcelerier commented on #434
100% agree, std::cerr (or ossia::logger().error("...")) is fine

[2018-12-06 16:20] avilleret commented on #434
ok it's done, there was already some error report on std::cerr
I added some more on the same output
We might switch to ossia::logger() later
closing the issue for now

[2018-12-06 16:20] #434 closed

[2018-12-11 11:02] avilleret opened #456 "[ossia-max] ø.remote deferred output buffer too many values"
when playing an interval in score, the ossia-max device receives values
but the ø.remote objects continue to output value after the end of the interval (or after stopping playback)

there should be way to flush old values when receiving a new one

[2018-12-11 22:03] avilleret commented on #450
I'm on it, the key is to add a "log_level" attribute to [ossia] object that sets the log level we want to see in the Max console
by default I'll set it to not show those "Could not set TCP nodelay option"
but use can change it to show this warning again

[2018-12-11 22:05] avilleret opened #457 "[ossia-max][ossia-pd] add 'critical' attribute to parameter"
I guess a critical parameter is sent through TCP instead of UDP to ensure it's correctly receive on the other side

[2018-12-11 23:49] #450 closed

[2018-12-12 15:08] avilleret opened #458 "[oscquery] after going through oscquery list of list become just list"
[code]

becomes

[code]

[2018-12-15 11:00] avilleret opened #459 "[ossia-max] update version number on package.json on each build"
because for now, version is still 1.0.0 and this is confusing despite the real version number is printed in the Max's console at loading

[2018-12-15 20:59] #459 closed

[2018-12-15 20:59] avilleret commented on #457
fix with https://github.com/OSSIA/libossia/commit/ea62d069e04085a7b0e3adbbde54426b7770f896

[2018-12-15 21:00] #457 closed

[2018-12-15 21:02] avilleret commented on #451
but how to do that ?
I guess we don't want to automatically delete object in a patcher
should we just mark them as "zombie" and output something from ossia.client dump outlet ?
what do you think Max geek ? @bltzr @cbossut @jln-

[2018-12-15 22:20] avilleret commented on #432
seems to work now, could you check and reopen the issue if needed @bltzr ?

[2018-12-15 22:20] #432 closed

[2018-12-16 22:17] #458 closed

[2018-12-28 18:41] jcelerier opened #460 "Replace std::atomic<bool> with std::atomic_flag"
it has stronger guarantees and won't ever use a mutex behind

[2018-12-29 22:34] jcelerier commented on #460
not a good idea actually

[2018-12-29 22:34] #460 closed

[2018-12-31 14:02] #402 closed

[2019-01-17 10:08] reno- opened #461 "[ossia-python] - error on compilation related to update_namespace"
[code]

[2019-01-17 15:51] #461 closed

[2019-01-26 21:03] avilleret opened #462 "Boost dependency sucks"
well, most of the time it's fine

but when trying to build libossia with something else that also needs boost, then it could be a nightmare...
if you want to crosscompile then you won't sleep for few nights...

For example when trying to build an openframeworks application (which needs boost_system and boost_filesystem) CMake finds boost but when compiling header are not found...

how could we sol

[2019-01-26 21:07] avilleret commented on #462
on another scenario, I can build boost library myself with something like :

[code]

but in the openframeworks case, it's harder because openframeworks lib is build separately.
So I need to build it against libossia boost version to make it work properly...

[2019-01-26 21:35] avilleret commented on #462
hum, I found a bug in FindBoost behavior
When we do `find_package(Boost 1.${BOOST_MINOR} QUIET)` in https://github.com/OSSIA/libossia/blob/master/CMake/OssiaDeps.cmake#L93

and if there is a boost somewhere which doesn't fit the version requirement then `Boost_INCLUDE_DIR` is set to this version and after downloading boost source and searching again with https://github.com/OSSIA/libossia/blob/mast

[2019-01-27 15:10] avilleret commented on #462
that was my first feeling

[2019-01-30 17:33] evanmtp commented on #150
Attempting to open the ossia.remote help patch instantly crashes Max. Tested with:

macOS 10.11, Max 7.3.5 (crashes)
macOS 10.11, Max 8.0.3 (crashes)
macOS 10.13.6, Max 7.3.5 (crashes)
macOS 10.13.6, Max 7.3.5 (doesn't crash)

Crash report from macOS 10.11, Max 7.3.5:

Process:               Max [2667]
Path:                  /Applications/Max.app/Contents/MacOS/Max
Identifier:            com.cycli

[2019-01-30 20:07] avilleret opened #464 "[ossia-pd] can't stop oscquery protocol if a client is connected"
to reproduce :

1. open a patcher that expose a device
2. open score and connect it to the device
3. try to stop the protocol by sending [stop 0( to Pd, or just try to quit Pd

you'll see "watchdof: signaling pd..." in the console until you disconnect the device in Score

do you have an idea on this @jcelerier ?

[2019-01-30 20:23] avilleret opened #465 "[ossia-pd] OSC connection of OSCQueyr protocol doesn't work anymore"
to reproduce :

1. open a device that update it's values periodically
2. expose it with OSCQuery
3. open a client and connect it to this device

Client value are not updated when device update its values
but when namespace is refresh it doesn't output up-to-date value

[2019-01-30 23:13] avilleret commented on #464
score and ossia-pd did not use the same libossia which explains weird behavior
sorry for the noise

[2019-01-30 23:13] #464 closed

[2019-01-30 23:43] avilleret commented on #465
after double check it seems that OSC port was already open somewhere so Score can't open it one more time
weird things happen

[2019-01-30 23:43] #465 closed

[2019-02-05 14:40] avilleret opened #466 "[ossia-pd] [symbol foo( is pared as the list ["symbol", "foo"]"
is should be parsed as symbol "foo"

[2019-02-05 14:43] avilleret opened #467 "[ossia-pd] weird device scanning behavior"
ø.client sends too many red messages on console

to reproduce : send [get devices( message to [ø.client]

[2019-02-05 14:46] avilleret opened #468 "[ossia-pd] crash when scanning devices"
happen on loadbang with a reconnection mechanism

here is the backtrace :

[code]

[2019-02-05 16:09] #466 closed

[2019-02-05 16:09] #467 closed

[2019-02-05 16:09] #468 closed

[2019-02-05 21:53] avilleret opened #469 "[ossia-pd] parameter doesn't register correctly on complex patcher structure"
to reproduce :

- in the main patcher create a [ø.client], a [ø.param foo] and a subpatcher [pd]
- in the subpatcher create a [ø.device] and a [ø.param bar]

the [ø.param bar] is not registered under the [ø.device] but it should

[2019-02-05 22:50] #469 closed

[2019-02-05 23:03] avilleret opened #470 "check is_brace_expansion() function"
it seems it wrongly returns true

see https://github.com/OSSIA/libossia/blob/master/OSSIA/ossia/network/base/name_validation.cpp#L242-L269

[2019-02-05 23:05] avilleret opened #471 "[ossia-pd] there are still registration issue"
with complex patcher I end up with this :

    print: parameter create Pd:/Four2:/play

which is weird enough to open an issue

[2019-02-06 08:06] avilleret opened #472 "[ossia-pd] update o.view's (et. al.) help bind->address"

[2019-02-06 10:19] #470 closed

[2019-02-06 10:26] avilleret commented on #471
here is a patcher that demonstrate the issue
[client_vs_device_test.pd.zip](https://github.com/OSSIA/libossia/files/2835844/client_vs_device_test.pd.zip)

ossia-max might be affected too

[2019-02-06 13:17] avilleret opened #473 "ossia::traversal::make_path with device name doesn't work"
see https://github.com/OSSIA/libossia/blob/0b82403cc81004039789482395bf9987713e082a/Tests/Network/PathTest.cpp#L215-L232

[2019-02-06 20:24] #471 closed

[2019-02-06 20:43] avilleret opened #474 "[ossia-max] review last ossia-pd fix and apply them if relevant"
mainly global parameter registration

[2019-02-08 22:30] maybites opened #475 "[ossia-max] another crash"
Hi

follwing these steps will crash max:

    open ossia.attribute.maxhelp
    via ‘?’ open ossia.remote
    via ‘?’ open ossia.view

here an excerpt of the crashreport:

Thread 0 Crashed:: CrBrowserMain Dispatch queue: com.apple.main-thread
0 libossia-max.dylib 0x0000000121a1b5b9 0x121a0c000 + 62905
1 libossia-max.dylib 0x0000000121a45629 0x121a0c000 + 235049
2 libossia-max.dylib 0x0000000121a45d

[2019-02-09 00:10] avilleret commented on #475
thanks,
unfortunately I don't have Max8 for now, and I'm busy until march
so good idea to report here : I'll look into it asap

[2019-02-09 10:08] maybites commented on #475
it also crashes with Max 7.3.5...

[2019-02-09 11:35] jcelerier commented on #475
I can reproduce the crash on my side

[2019-02-09 11:41] jcelerier commented on #475
I'd say that the t_matcher operator== is suspicious :

[code]

[2019-02-09 11:43] jcelerier commented on #475
ahh I think I see the problem, on it

[2019-02-09 11:54] jcelerier commented on #475
fixed in b787d69 ; @avilleret maybe we could do a release ?

[2019-02-09 11:56] jcelerier commented on #475
in the meantime here's the max package with the fix applied @maybites [ossia.zip](https://github.com/OSSIA/libossia/files/2847763/ossia.zip)

[2019-02-09 11:59] maybites commented on #475
I can confirm: no crash anymore on Max 8

[2019-02-09 12:47] jcelerier commented on #475
nice :)

[2019-02-09 12:47] #475 closed

[2019-02-09 12:59] jcelerier commented on #474
and conversely from max -> pd :p

[2019-02-09 22:50] avilleret commented on #474
non exhaustive list of pd related commit that might be applied to Max
8a03729d8a0bcce81ac739d2df80d4161ca74a31
7761f4837bac008e40ad8934bf5156c090cde11a
0b59e031c5a81bc3b17a2db434b7a05bbd395c1f
c64a83af7bec5ae72a080d1f994b33263405c3e7
5664a063b46900adca01f5f638763ca4c857e5d7
798ce45b655a4925b05f13217d98fa5644985ed9
32542a615a577e783594658c4b24941551bc919d
0f5eaabc1eac413da94ded2fd13b386e88837def
37

[2019-02-12 15:45] avilleret opened #476 "ossia::device_base::set_name doesn't update OSCQuery device"

[2019-02-15 15:56] bltzr commented on #441
as reported here:
http://forum.ossia.io/t/ossia-parameter-is-losing-its-value-when-ossia-model-changes-its-address/126
default values are not fired when created (only when loaded)
this is a different bug, but I guess it's related so reopening, retitling and updating this one

[2019-02-15 16:20] maybites opened #478 "[ossia-max ]Feature Request: [ossia.parameter] keeping its value when [ossia.model] changes its address"
Hi

Currently [ossia.parameter] is losing its value when [ossia.model] changes its address (see this [topic](http://forum.ossia.io/t/ossia-parameter-is-losing-its-value-when-ossia-model-changes-its-address/126))

I propose it should keep its value.

This is actually quite important, otherwise it is not possible to dynamically reassign addresses inside running patches without loosing the current pa

[2019-02-15 20:18] jcelerier commented on #478
@matcham @bltzr I don't know why but I feel that this is relevant for you :)

[2019-02-16 02:47] avilleret opened #479 "[ossia-pd][ossia-max] we need to separate mirror name and device name"
for now, if you have object that register with a global path (in the form device:/foo/bar)
and the device name change for whatever reason, then you'll have to track down all objects with global path to update them.

so in Pd/Max the device name in the global path will refer to the ø.client's name, which could be the name of the device it is connected to or not.

[2019-02-16 10:48] avilleret opened #480 "[ossia-pd][ossia-max] refactor device scanning / check for consistency across platform"
it seems that on OSX wrong URL is returned

also we need to have a global scanning mechanism, to avoid multiple scanning by several [ø.client] objects

[2019-02-16 11:50] avilleret commented on #480
[connect( shouldn't block Pd but send a callback when connected instead

[2019-02-16 13:10] avilleret opened #481 "[ossia-pd] crash when reconnecting o.client on MacOS"
it does work on linux though

[2019-02-16 16:18] avilleret commented on #481
fixed with https://github.com/OSSIA/libossia/commit/c50cac6dfd5e0464bf4883a514c31491bf433ae8
thanks to @jcelerier

[2019-02-16 16:18] #481 closed

[2019-02-20 12:30] avilleret opened #482 "[ossia-pd] crash when adding a ossia.remote with wildcard as global address"
[ossia.remote *:/image.2/position] for instance
on mac OS

[2019-02-20 13:04] avilleret opened #483 "[ossia-pd] when a ossia.client is re-connected children are not"
still on macos

[2019-02-20 21:17] avilleret commented on #483
on linux with e4f588f97 eveything is fine...

[2019-02-20 21:33] avilleret commented on #483
but it doesn't on mac os with the same commit and Pd-0.49-1

[2019-02-20 22:45] avilleret commented on #479
this is already the case when connecting with url and this seems to be enough for me now because it is always possible to use that way

[2019-02-20 22:45] #479 closed

[2019-02-20 23:12] avilleret commented on #482
we should remove std::regex dependency and use ossia::traversal::path instead, then wait for https://github.com/OSSIA/libossia/issues/473 to be fix

[2019-02-20 23:22] #483 closed

[2019-02-21 16:36] avilleret opened #484 "[ossia-pd] crash when cutting / pasting already connected ø.client"
happened on OSX

[2019-02-21 23:32] avilleret opened #485 "[ossia-pd] [ossia.client] return wrong connection status"
when trying to connect to an unreachable device, ossia.client first return that a connection is made while it's not the case

this might be fixed with https://github.com/OSSIA/libossia/issues/480

[2019-03-25 14:26] michaelpalumbo opened #486 "dynamically map parameters across devices"
Just posted this on the ossia forums, and am now continuing this thread here:

[2019-03-25 14:32] michaelpalumbo commented on #486
It's still not clear to me how the connection is established between these two parameters. @avilleret is the mapping hardcoded? Or is it possible to have two devices, query their namespaces using an interface (perhaps built in max, perhaps in a webpage), and then send a message to the ossia framework to map the one parameter onto the other i.e. something akin to 'bind weka:/accel to lightbox:/pane

[2019-03-25 14:37] michaelpalumbo opened #487 "managing multiple devices"
I work in a lab which has many, many tools and instruments written in max/msp. We are keenly interested in making use of libossia to expose their individual namespaces across our network. However, an aspect of device instantiation that I'm hung up on is the need to assign an OSC port and websocket port per-device. My instinct is to not hardcode these, nor to have to assign them manually, and so ra

[2019-03-25 18:30] michaelpalumbo commented on #487
[dynamicDevice.zip](https://github.com/OSSIA/libossia/files/3004882/dynamicDevice.zip)

In the maxhelp file, you'll see that the abstraction "dynamicDevice" auto-instantiates an ossia.device in the parent patcher, names it after the parent patcher, and also dynamically assigns the OSC and WS ports. It performs these tasks each time the patcher is loaded, which means that the OSC/WS ports get re-as

[2019-03-25 18:32] michaelpalumbo commented on #486
If this currently isn't possible, I suppose I could extend the abstraction I posted in #487  to also dynamically generate "shared parameters" although I'd prefer not to...

[2019-03-26 21:23] avilleret commented on #486
not at all, you should have 2 [ossia.client] objects each bound to one of your devices (`lightbox` and `weka`)
Then you can access each parameter of your client with [ossia.remote] objects.
You can either use relative address (`[ossia.remote accel]`) or absolute address (`[ossia.remote /accel]`) or global address (`[ossia.remote weka:/accel]`).
Keep in mind that the hierarchy of the patcher should

[2019-03-26 21:33] avilleret commented on #487
In a recent setup, I'm using more than 10 oscquery devices over a local network.
On a computer, there are 5 pd patchers which each runs an independent device.
Each of them have hardcoded port name and port numbers. They can't share the same port number because they share on the same host.

The other devices are 5 instances of an openFrameworks application that run on 5 separated RaspberryPi.
They

[2019-03-27 09:18] bltzr commented on #486
ossia.remote is a kind of (ossia-based) send/receive pair (a little like the sr abstraction in Max)
so the connection is established by retrieving the value of the `weka:/accel` parameter from the first remote and sending it to the `lightbox:/panel1/rgba` parameter through the seconde remote

yes, by your patcher

there are such interfaces [here](https://github.com/Vidvox/VVOSCQueryProtocol/releas

[2019-03-27 20:44] avilleret opened #488 "nested list are flatten when sent through OSC"
given a list  :

    list: [float: 4.5, int: 1, bool: false, list: [string: "reg", string: "fruh",  string: "tot"]]

send it through OSC from an OSCQuery mirror to an OSCQuery server and then you got on the server side :

      list: [float: 4.5, int: 1, bool: false, string: "reg", string: "fruh",  string: "tot"]

Note that the nested list disappear.

imho the mirror should send a type change noti

[2019-04-09 13:05] maybites commented on #478
Is there any chance you look into this and/or make a decision if this behavior should become part of the specification?

[2019-04-10 08:08] bltzr commented on #478
I won't object to this - however I don't know how complicated this is to implement. I guess @avilleret only knows

[2019-04-10 09:35] maybites commented on #478
well, I am very keen to see if I can implement ossia into [SPARCK](http.//tecartlab.com), but this feature is a prerequisite. without it it won't be possible.

[2019-04-10 10:39] bltzr commented on #478
When this kind of case shows up in my own projects, when one particular feature isn't already there, and isn't completely obvious to implement either (maybe this one is, though, I have exactly 0 idea about this), my solution to make this happen is usually to find some budget on the said project, and to hire @avilleret to work upon it. Of course, this requires previous evaluation.
But that's also b

[2019-04-10 10:57] maybites commented on #478
You have a valid point.

I am happy to dive into the code with some guidance. I have experience with Max C-externals, but none with your frameworks architecture.

But before this can happen, a strategic decision has to be made by the framework architect.

[2019-04-10 11:32] avilleret commented on #478
for the record, here is the patcher that have been posted on OSSIA forum :

`----------begin_max5_patcher----------
1830.3ocyZszaiaCD9r8uBBcpEvIPTurUOsaOVTrEnWyFXPKwXysRhBRzIN6
h8+d4K8zRNLdkRxgHEygjZlu4AGRN+X4BqczS3RKve.tCrXwOVtXgrIQCKz+
dgUJ5TTBpT1Mqrio6vEVqTjHwxFo691MtNUMliJPoXFtXKNCsKAK5hslFe3j
rDLSNYvlFoGYUs5TOMrnCjr8aKvQLEK546cq8JfKbi3kus3oiys1f60iQMMr
mywpAXYsBXsCks2BbunG+b4RwiUFJr6NxXzrgDV2

[2019-04-10 11:38] maybites commented on #478
SPARCK is Max based, so I would use libossia through ossia-max.

[2019-04-10 13:06] bltzr commented on #478
yes, so there's only stuff to change in ossia-max (and apparently in [ossia.model] I guess, probably [around here](https://github.com/OSSIA/libossia/blob/d217551e9148309f675adc3ad8598a703d3bda74/OSSIA/ossia-max/src/model.cpp#L144))

[2019-04-10 23:08] evanmtp opened #489 "Issues with j2ossia.sh"
When converting some Jamoma 1.0 patches to ossia-max, I noticed a couple of issues:

- The script indiscriminately replaces "symbol" with "string", which ends up modifying objects like [fromsymbol] to [fromstring].
- The script doesn't remove @ramp/drive when converting from [j.parameter] to [ossia.parameter].

See "before and after" patches in the attached zip file as an example.

[j2ossia_bug.zi

[2019-04-11 09:20] bltzr commented on #489
Hi @evanmtp !
I have just made an attempt at fixing the symbol part. Could you please try if that works ? (I haven't tested)

For the `@ramp/drive` part, this is a little more tricky (and my sed skills are very limited), so could you please try to add this at the end of the file:
[code]
and see if that works ?
if that doesn't, it might worth checking sed's syntax, and or ask for some guidance to @

[2019-04-11 10:19] bltzr commented on #478
hey @maybites ! @avilleret began looking into this this morning on https://github.com/OSSIA/libossia/tree/ossia-max-fix - he said he would get back to it in 2 weeks or so... meanwhile, if you want to help to make this happen, you can try to compile this branch, since he couldn't test it (he only had a Linux machine, so no Max)

[2019-04-11 15:19] maybites commented on #478
Hi
I tried to compile this branch, but run into the following errors (following this [instructions](https://github.com/OSSIA/libossia/wiki/Building#building-the-max-implementation-on-macos)) after the 'make -j8' command:

In file included from /Users/maybites/Arbeiten/02_code/library/ossia/libossia/OSSIA/ossia-max/src/ossia-max.cpp:7:
/Users/maybites/Arbeiten/02_code/library/ossia/libossia/OSSIA/o

[2019-04-11 16:46] jcelerier commented on #478
hmm, if you started from an old clone you did a few months ago, you need to run `git submodule update --init --recursive` - the errors you get are because the spdlog library which is stored as a git submodule is not up-to-date.

[2019-04-11 17:43] maybites commented on #478
sorry, I am at a loss here.

I started afresh:
1. a pull from the actual libossia repo
2. changed the branch to 'ossia-max-fix'
3. executed `git submodule update --init --recursive` inside the libossia folder

and followed the instructions from the wiki for building max on OSX.

the result of `cmake ../libossia -DOSSIA_MAX_ONLY=1 -DCMAKE_INSTALL_PREFIX="$PWD/ossia-install"`:

[code]
but then with

[2019-04-12 08:25] avilleret commented on #478
I made those changes blindly because I don't have OSX nor windows boxes under the hand for now.
But the issue you got is strange. You might need to sync the submodule too with :

    git submodule sync --recursive

I'll try to build it next week.

[2019-04-12 08:39] jcelerier commented on #478
hmm maybe the ossia-max code is not up-to-date. sadly I don't have access to a windows or a mac until sunday so I can't test until then either - will keep you posted

[2019-04-12 08:47] avilleret commented on #478
As shown on [Travis](https://travis-ci.org/OSSIA/libossia/jobs/518678086) the issue @maybites is facing to was here before my changes and maybe since a while.

[2019-04-12 08:55] maybites commented on #478
the member 'raw' was removed from spdlog::details::log_msg last october in the following commit:

https://github.com/gabime/spdlog/commit/6355e9895d14abc6d89873af526f25ad82b80839#diff-e467d3a37f5898269f0d711eb188e9bb

could you verify against which commit of spdlog you are compiling? I tried to compile agains a commit before the removal of the member 'raw', but now its complaining

`no member name

[2019-04-12 09:07] avilleret commented on #478
@maybites the issue here is that libossia have been updated to use latest spdlog code but not the ossia-max binding.
I'm currently trying to fix it.

[2019-04-12 10:29] avilleret commented on #478
@maybites I just pushed a fix, could you pull and try to build again (don't forget to revert spdlog to the version used in the repo, `git submodule update` should do it for you)

[2019-04-12 10:41] maybites commented on #478
ok, the spdlog errors are gone, now there are these:

[code]

[2019-04-17 16:20] avilleret opened #490 "[ossia-pd] build it against Purr Data's m_pd.h"
this is a request from @agraef

[2019-04-17 18:10] thibaudk commented on #490
:+1:

[2019-04-17 21:42] avilleret commented on #478
ossia-max build is now working again (and the ossia-max-fix branch have been merged into master)
but there is still an issue with default value which are not fired when first registering a parameter
this happens both when creating the parameter (see https://github.com/OSSIA/libossia/issues/441)
and also when changing model's address (which internally trigs a new registration process)

I'll look in

[2019-04-17 22:03] avilleret commented on #490
https://github.com/OSSIA/libossia/commit/70ff64962d0f8f9a3fe0a48c618379f6dbe5449b introduce a new purr-data submodule and a CMake option "OSSIA_PURR_DATA".
When you switch on this option, cmake should download the purr_data submodule and checkout the commit 6343214214dc71fe37352b8c60f5980c2f0a67a7 of CicmWrapper.

If this is not the case, checkout manually with `git checkout 6343214214dc71fe37352b

[2019-04-18 10:34] agraef commented on #490
Hi @avilleret, thanks for looking into this and getting back so quickly! I'll have a look at that double declaration asap, hopefully it's a minor issue.

[2019-04-18 12:10] maybites commented on #478
I was able to compile as well, still have some compile warnings, but the externals seems to work.

Really appreciate your efforts here. I assume you keep this thread updated on the above mentioned fixes.

[2019-04-18 16:48] jcelerier commented on #490
hmm, looking at it it seems that g_canvas.h cannot be included in more than two files.
A solution would be to declare the variables (`t_class *preset_hub_class;`, etc...) as extern and give them an implementation in a `.c`. I'll make a PR on purr-data for this.

[2019-04-18 21:24] #441 closed

[2019-04-18 21:25] avilleret commented on #478
fixed with https://github.com/OSSIA/libossia/commit/b21e0f55489c489f64c77dd70e669ad99e8dacfa

[2019-04-19 06:41] avilleret commented on #478
this seems to be fixed now, but it was not tested extensively, in particular I didn't test with nested model.
I mean it's worth testing changing the address of a root model that contains another model with parameters.
It's also worth testing with wildcard parameters such as [ossia.parameter foo.{1-3}].
I only tested within a VM and an unregistered Max 7 (I can't save anything).

[2019-04-19 16:47] avilleret opened #491 "[ossia-pd] on windows, pd crashes when changing a parameter name"
to reproduce :

- create a parameter [ossia.parameter foo]
- rename it |ossia.parameter bar]

kaboom

[2019-04-19 17:20] avilleret commented on #491
deleting the parameter is enough to trig the crash

[2019-04-19 17:41] avilleret commented on #491
it appears that deleting any of the ossia object crashes Pd

Pd 0.49-1 64bit under windows
last ossia-pd release is also affected

[2019-04-19 17:43] avilleret commented on #491
Pd 0-49 32bit is also affected

[2019-04-20 17:19] maybites commented on #478
@avilleret I tested the latest master (d96537e2a4b6dafb21df4d3cf1f56d852f8088cf) with [this example](http://forum.ossia.io/t/ossia-parameter-is-losing-its-value-when-ossia-model-changes-its-address/126) and it still doesn't behave as I would expect:

steps to reproduce:

1. select 'address myNewBoxName'
2. enter value for parameter
3. select 'namespace' and verify the value is set.
4. select 'addr

[2019-04-20 20:31] avilleret commented on #478
this is strange @maybites, I use the same example here and it works both in Mac OS VM and on Windows 10.
Could you double check that the commit shown in the Max console is the one from which you build ?
It should appear when you instantiate the first ossia object.
And I will double check on my side

[2019-04-21 06:45] maybites commented on #478
I am pretty sure I have. the console shows:

build SHA : d96537e2

[2019-04-21 21:37] avilleret commented on #478
This is very strange. I don't understand. Here is a video of what I got on my desktop MacOS machine.
(I hope it is readable enough, I forgot I have a 4k display...)
https://youtu.be/BhzqCovuv4o
Note that I'm using Max 7.3.5 32bit and I got the same result with 64bit version.

[2019-04-22 08:28] maybites commented on #478
I compiled the latest: build SHA : 0c00d79c and tried both on Max8 and Max7 32 bit but it still doesn't work on my machine as on you video. can you provide me your compiled package?

[2019-04-22 10:51] avilleret commented on #478
@maybites here is my build : https://framadrop.org/r/uv4LQsgJtU#Q9+SCf7hGlwTumwmuc9lHUYtEGsyC9iFlfNK4nQV9NU=
let me know

[2019-04-22 11:10] maybites commented on #478
@avilleret your package is not working on my machine either..  And I made pretty sure I use your code. very strange. I don't have a working theory at the moment.

[2019-04-22 12:29] avilleret commented on #478
would be useful to get some feedback from other users.
@matcham, @jln- and @bltzr could you give it a try ?
btw @maybites do you notice other strange behavior with ossia-max ?

[2019-04-22 14:24] bltzr commented on #478
it seems to be working (I used the build from framadop above) Max 7.3.5 OS 10.14.2

https://files.gitter.im/OSSIA/uYG3/testModel.mp4

[2019-04-22 14:26] bltzr commented on #478
I also tried with remotes and everything seemed to go just fine
<img width="363" alt="image" src="https://user-images.githubusercontent.com/113982/56505235-64bad900-651b-11e9-94cb-0c634f7c6efe.png">

[2019-04-22 15:31] avilleret commented on #478
@maybites do you another computer to test on by any chance ?

[2019-04-23 10:15] maybites commented on #478
I just tried it on a pristine machine with osx 10.12.6 / Max 8.0.5 64bit with the same effect.

[2019-04-23 10:53] jln- commented on #478
Just tried @avilleret 's build with Max 8.0.4 (64 bit) on macOS 10.13.6 and the example by @maybites works fine (parameter does keep its value when model's name changes)

[2019-04-23 11:32] maybites commented on #478
@jln @avilleret this is all very strange. I just wanted to test it on windows, but it looks as if you haven't got a max-windows solution for libossia, yet. Is this correct?

[2019-04-24 09:16] avilleret commented on #478
@maybites there is a ossia-max package for windows, both 32 and 64bit
you can download CI build on appveyor, here for example : https://ci.appveyor.com/api/buildjobs/yb7x7aa184dnokps/artifacts/ossia-max-win.zip
or build it yourself if you're fearless

[2019-04-24 12:18] maybites commented on #478
I am fearless but also very unsuccessful and unable to build max for win by myself (I was able to build up to the Visual Studio solution, but didn't progress any further than that). @avilleret your link doesn't contain a working max-package (at least I couldn't find it). there are some mxe-files, but they cause an error 126 inside max7 32bit.

[2019-04-24 12:43] avilleret commented on #478
you're right there is something wrong with the packaging script... I'll upload my build asap
and also open an issue to fix the script...

[2019-04-24 14:19] avilleret commented on #478
here is my handmade package @maybites  https://framadrop.org/r/b_-GIczO0C#33cSWr7JHq2A/qlkZG6QIKfw5EenGwJJlaSOeCHC0rk=

[2019-04-24 15:31] maybites commented on #478
still the same effect. Just to make sure we talk about the same thing, here another max patch with step by step description and the expected results:

<pre><code>
----------begin_max5_patcher----------
2005.3oc2assjahCD8Y6uBU7VpxiKj3lIOrUx939P1OfLobICZrIADTf7LdR
p7uu5BX.atYrYhmcpxdLpEntOR8QsjZ907YZahOPxz.eD7UvrY+Z9rYxhDEL
K+5YZQ3Cdg3LY0z7hihHTl1BkLF4.SVNbIHiDR7X.J4E.12Okjk8HEIJlAdF
Gtm.heBjfSwQDFI

[2019-04-24 19:20] avilleret commented on #478
I got the result described in the comment. Sorry for that...
Could you make a screencast of what you get ?

[2019-04-24 19:25] avilleret commented on #478
one thing to note : I can't save the patcher into a file and open it.
I only copy and make "New patcher from clipboard".
That might make a difference.
@maybites could you attach a .maxpat file (in a .zip archive) directly here so I can test by opening a patcher instead of creating new objects ?

[2019-04-24 19:49] maybites commented on #478
OK, I got it:

I always tested the following way:

1. copied the code (select + cmd-c)
2. opened a new patcher
3. pasted the code (cmd-v)

when you do that you will see my experience I had so far.

if you

1. copied the code (select + cmd-c)
2. Menu > File > New from Clipboard

it works.

it also works when you load it as a maxpat.

[2019-04-25 08:03] agraef commented on #490
Hmmm yes, I have to agree that there's clearly something wrong in our header file there. Your suggested fix seems sensible to me, but I'll have to find out how and why that got in in the first place and then commit the fix upstream at https://git.purrdata.net/jwilkes/purr-data.

[2019-04-25 08:58] agraef commented on #490
On Linux, the global installation path is usually /usr/lib/pd-l2ork/extra/. Locally (in the user's home directory) they go to ~/.pd-l2ork-externals. I'd have to look up the details for Mac and Windows if needed.

[2019-04-25 10:02] agraef commented on #490
Ok, I gave this a quick whirl now with the example from https://github.com/OSSIA/score-user-library/tree/master/Scores/Examples/UnifiedExample-Max-pd-SC, and it seems to work fine!

The Tcl/Tk property GUIs of the ossia.* objects won't work in Purr Data, of course, since Purr uses JavaScript for its GUI. Maybe I can get one of the cs students in my course to rewrite the Tcl/Tk stuff in JS as his h

[2019-04-26 11:37] avilleret commented on #478
ha ok, so it seems there is still an initialization issue which is not related to this one
so I'm closing it and re-open the relevant one

[2019-04-26 11:37] #478 closed

[2019-04-26 16:34] avilleret commented on #384
this seems to be fixed now

[2019-04-26 16:34] #384 closed

[2019-04-26 19:07] avilleret commented on #478
@maybites the initialization seems to be fixed with https://github.com/OSSIA/libossia/commit/a5c3c05220f3e9711841246476f5013e60fe291a

could you check it again one more time ?

[2019-04-26 19:09] avilleret commented on #400
@bltzr is this still relevant ? or could we close it ?

[2019-04-26 21:54] #447 closed

[2019-04-26 22:21] avilleret commented on #367
it seems to work fine on ossia-max but no for ossia-pd

[2019-04-27 08:33] #486 closed

[2019-04-27 08:34] avilleret commented on #486
I'm closing it because I don't see a real issue there

[2019-04-27 08:35] avilleret commented on #487
I'm closing it because I don't see a real issue there

[2019-04-27 08:35] #487 closed

[2019-04-27 08:42] avilleret commented on #490
concerning the properties page of Ossia object, it's not very useful so don't worry for that.

ok for letting the issue open until upstream repo update

[2019-04-27 09:09] bltzr commented on #400
will try

[2019-04-27 09:39] avilleret opened #492 "[ossia-pd] remote with pattern matching are not automatically bound to new parameter"
beside testing #447 it appears that new parameter that matches a remote with pattern matching is not bound to that remote automatically

[2019-04-27 09:39] avilleret commented on #492
Max might also be affected

[2019-04-27 13:11] #367 closed

[2019-04-27 13:11] #492 closed

[2019-04-27 13:23] avilleret commented on #372
this seems to be fixed now

[2019-04-27 13:23] #372 closed

[2019-04-27 13:23] #295 closed

[2019-04-27 13:24] avilleret commented on #295
I'm closing it because :
- written in French
- too old
- ossia-pd have been announce and is now in Deken

[2019-04-27 13:27] avilleret commented on #484
can't reproduce on Archlinux

[2019-04-27 13:28] bltzr commented on #400
yes, interval names are updated when sending the namespace message - there is still an issue with new names not being output by ossia.client - will update the relevant issue or make a new one

[2019-04-27 14:31] #472 closed

[2019-04-27 16:30] maybites commented on #478
@avilleret I can confirm, the issue seems to be resolved. But I haven't tested nested models and special parameters yet.

[2019-04-27 19:09] agraef commented on #490
Submitted upstream as https://git.purrdata.net/jwilkes/purr-data/merge_requests/281. I'll let you know when this gets merged.

@avilleret I think that it would be nice to at least conditionally disable all the Tcl code in there when running in Purr Data, because it causes a bunch of ugly "legacy tcl command" warnings in Purr when loading the external. Are those Tcl commands set in the ossia-pd cod

[2019-04-27 20:46] #400 closed

[2019-04-27 21:03] avilleret commented on #490
kind of, but iirc there is a line to remove to disable the properties page
i'll take a look at that asap

[2019-04-27 21:06] avilleret commented on #400
to sumup a private discussion with @bltzr here, this issue was about the support of node creation, deletion and renaming.
The relevant callback have been added. [ø.client] object now outputs messages like :

    node created foo
    node rename dev:/foo dev:/bar
    node removed bar

@bltzr could you check that it is OK for you in Max ?

[2019-04-27 21:17] avilleret commented on #476
please add a description and step to reproduce, thanks dude

[2019-04-27 21:21] avilleret commented on #341
is this issue still around there ? or should we close it ?

[2019-04-27 21:21] avilleret commented on #323
ping @jln-

[2019-04-27 21:23] avilleret commented on #302
could we close this @bltzr  ?

[2019-04-27 21:24] avilleret commented on #301
dtc, close it ? or do it ?

[2019-04-27 21:26] avilleret commented on #300
the last time I tried it, python 2.7 suffer from a bug, but since this version seems to be deprecated in 2019 we might drop the support of 2.7
moreover we don't have many python user for now
and we don't have any python coder neither
but it's worth to test it and check CI build

[2019-04-27 21:28] avilleret commented on #299
on est où là dedans ? vous croyez qu'un jour on parlera de nous dans la presse ? et chez Drucker ? et chez Pujadas ? et chez les autres ? et qu'on sera riche ?
parce que sinon on peut fermer l'issue...

[2019-04-27 21:29] avilleret commented on #298
woohoo another burried issue !

[2019-04-27 21:30] avilleret commented on #297
so we close it ? :-)

[2019-04-27 21:33] avilleret commented on #296
bonne idée ! qui s'en occupe ? :-)

[2019-04-27 21:39] avilleret commented on #291
this is not really an issue,
it looks more like a general discussion on the idioms we use
this discussion should happen on the forum nowadays, so I'm closing it

[2019-04-27 21:39] #291 closed

[2019-04-27 21:44] avilleret commented on #226
good question
but rare usecase :-)

[2019-04-27 21:50] avilleret commented on #209
I'm not sure to understand exactly what you mean...
but 1 year and a half later it's more than time to dive into this !